static
tmp/emails/
upload

# Data
*.sqlite3
*.csv
backups/
*.log
*.log.*

# Python runtime, setup and testing
.coverage
.mypy_cache/
.tox/
__pycache__
.venv/
env/
venv/

# IDEs
.idea/
.vscode/
.DS_Store

# Config
lowfat_production/
