bokeh
bkcharts
django
django-backup
django-constance[database]
django-countries
django-crispy-forms
django-datetime-widget
django-dbbackup
django-extensions
django-settings-export
django-simple-history
html2text
markdown
pandas
pylint
pylint-django
pypdf2
python-gnupg
social-auth-app-django
# Test
django-autofixture
# Visualise the relationships of Django models
pyparsing
pydot
