django~=3.0
django-constance[database]~=2.5.0
django-countries
django-crispy-forms
django-datetime-widget
django-dbbackup>=3.2.0
django-extensions
django-pandas
django-picklefield>=3.0.0
django-settings-export
django-simple-history>=1.9.0
django-imagekit>=4.0.2
geopy<=1.19.0
html2text~=2020.1.16
markdown~=3.3.3
matplotlib
numpy
pandas~=1.1.5
pylint>=1.8.2
pylint-django>=0.9.0
pypdf2~=1.26.0
python-gnupg
social-auth-app-django~=3.1.0
social-auth-core~=3.3.1
# Report
jupyter
ipython
# Test
django-autofixture
# Visualise the relationships of Django models
pyparsing
pydot
nbformat~=5.0.8
nbconvert~=6.0.7