django<2.0
django-constance[database]
django-countries
git+https://github.com/rgaiacs/django-tagulous.git@0.13.0#egg=django-tagulous #django-tagulous
django-crispy-forms
django-datetime-widget
django-dbbackup>=3.2.0
django-extensions
django-settings-export
django-simple-history>=1.9.0
html2text
markdown
matplotlib
numpy
pandas
pylint>=1.8.2
pylint-django>=0.9.0
pypdf2
python-gnupg
social-auth-app-django
# Test
django-autofixture
# Visualise the relationships of Django models
pyparsing
pydot
