{% extends "fellowms/base.html" %}

{% block content %}
<h1>Board</h1>
<h2>Fellows</h2>
<table>
    <tbody>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
        </tr>
{% for fellow in fellows %}
<tr>
    <td>
{{fellow.full_name}}
    </td>
    <td>
{{fellow.email}}
    </td>
</tr>
{% endfor %}
    </tbody>
</table>

<h2>Events</h2>
<table>
    <tbody>
        <tr>
            <th>Name</th>
        </tr>
{% for event in events %}
<tr>
    <td>
{{event.name}}
    </td>
</tr>
{% endfor %}
    </tbody>
</table>

<h2>Expenses</h2>
<table>
    <tbody>
        <tr>
            <th>Event</th>
            <th>Status</th>
            <th>Proof</th>
        </tr>
{% for expense in expenses %}
<tr>
    <td>
{{expense.event.name}}
    </td>
    <td>
{{expense.status}}
    </td>
    <td><a href="/{{expense.proof}}">PDF</td>
    </td>
</tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
