{% extends "fellowms/base.html" %}

{% block content %}
<h1>Event</h1>
<h2>General Details</h1>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ event.name }}</td>
        </tr>
        <tr>
            <th>URL</th>
            <td><a href="{{ event.url }}">{{ event.url }}</a></td>
        </tr>
        <tr>
            <th>Start date</th>
            <td>{{ event.start_date }}</td>
        </tr>
        <tr>
            <th>End data</th>
            <td>{{ event.end_date }}</td>
        </tr>
    </tbody>
</table>
{% if budget_summary %}
<h2>Budget Summary</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Budget request</th>
            <td>{{ budget_request }}</td>
        </tr>
        <tr>
            <th>Budget approve</th>
            <td>{{ event.budget_approved }}</td>
        </tr>
    </tbody>
</table>
<h2>Budget Details</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Travel expenses</th>
            <td>{{ event.budget_request_travel }}</td>
        </tr>
        <tr>
            <th>Attendance fees</th>
            <td>{{ event.budget_request_attendance_fees }}</td>
        </tr>
        <tr>
            <th>Subsistence cost</th>
            <td>{{ event.budget_request_subsistence_cost }}</td>
        </tr>
        <tr>
            <th>Venue hire</th>
            <td>{{ event.budget_request_venue_hire }}</td>
        </tr>
        <tr>
            <th>Catering</th>
            <td>{{ event.budget_request_catering }}</td>
        </tr>
        <tr>
            <th>Others</th>
            <td>{{ event.budget_request_others }}</td>
        </tr>
    </tbody>
</table>
<h2>Expenses</h2>
<p><a href="{% url 'expense' %}?event_id={{event.id}}">Submit new
    expense.</a></p>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>
        Proof
      </th>
      <th>
        Status
      </th>
      <th>
        Amount claimed
      </th>
      <th>
        Amount authorized for payment
      </th>
    </tr>
    {% for expense in expenses %}
    <tr
       {% if expense.status in 'WS' %}
       class="danger"
       {% elif expense.status in 'P' %}
       class="warning"
       {% elif expense.status in 'AF' %}
       class="sucess"
       {% endif %}
       >
      <td>
        {% if expense.proof %}
        <a href="{{ expense.proof.url }}">{{ expense.proof.url }}</a>
        {% else %}
        Missing proof of expense
        {% endif %}
      </td>
      <td>
        {{ expense.get_status_display }}
      </td>
      <td>
        {{ expense.amount_claimed }}
      </td>
      <td>
        {{ expense.amount_authorized_for_payment }}
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td>
        <strong>Total</strong>
      </td>
      <td>
        -
      </td>
      <th>
        {{ event.expenses_claimed }}
      </th>
    </tr>
  </tbody>
</table>
{% endif %}
<h2>Blogs</h2>
<p><a href="{% url 'blog' %}?event_id={{event.id}}">Submit new blog.</a></p>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>
        Blog
      </th>
      <th>
        Status
      </th>
    </tr>
    {% for blog in blogs %}
    <tr
       {% if blog.status in 'U' %}
       class="danger"
       {% elif blog.status in 'R' %}
       class="warning"
       {% elif blog.status in 'LPDO' %}
       class="sucess"
       {% endif %}
       >
      <td>
        <a href="{{ blog.draft_url }}">{{ blog.draft_url }}</a>
      </td>
      <td>
        {{ blog.get_status_display }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
