{% extends "fellowms/base.html" %}
{% load staticfiles %}

{% block content %}
<h1>Fellow Detail</h1>
<img src="{{ fellow.photo.url }}" alt="Photo of {{ fellow.forenames }} {{ fellow.surname }}" class="img-responsive img-circle" />
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ fellow.forenames }} {{ fellow.surname }}</td>
        </tr>
        <tr>
            <th>Affiliation</th>
            <td>{{ fellow.affiliation }}</td>
        </tr>
        <tr>
            <th>Research area</th>
            <td>{{ fellow.research_area }}</td>
        </tr>
    </tbody>
</table>
<h2>Events</h2>
<ul>
{% for event in events %}
<li><a href="{% url 'event_detail' event.id %}">{{ event.name }}</a></li>
{% empty %}
<li>No events.</li>
{% endfor %}
</ul>
{% endblock %}
