{% extends "fellowms/base.html" %}
{% load staticfiles %}

{% block content %}
<h1>Fellow Detail
  {% if user == fellow.user %}
  <a class="btn btn-default" href="{% url 'fellow' %}" role="button">Edit</a>
  {% endif %}
</h1>
{% include 'fellowms/photo.html' %}
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ fellow.forenames }} {{ fellow.surname }}</td>
        </tr>
        <tr>
            <th>Affiliation</th>
            <td>{{ fellow.affiliation }}</td>
        </tr>
        <tr>
            <th>Research area code</th>
            <td>{{ fellow.get_research_area_code_display }}</td>
        </tr>
    </tbody>
</table>
{% if show_finances %}
{% include 'fellowms/finances.html' %}
{% include 'fellowms/expenses.html' %}
{% endif %}
<h2>Events</h2>
{% include 'fellowms/events.html' %}
{% endblock %}
