{% extends "fellowms/base.html" %}
{% load staticfiles %}

{% block content %}
<h1>Fellow Detail</h1>
{% include 'fellowms/photo.html' %}
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ fellow.forenames }} {{ fellow.surname }}</td>
        </tr>
        <tr>
            <th>Affiliation</th>
            <td>{{ fellow.affiliation }}</td>
        </tr>
        <tr>
            <th>Research area code</th>
            <td>{{ fellow.research_area_code }}</td>
        </tr>
    </tbody>
</table>
{% if show_finances %}
{% include 'fellowms/finances.html' %}
{% endif %}
<h2>Events</h2>
<ul>
{% for event in events %}
<li><a href="{% url 'event_detail' event.id %}">{{ event.name }}</a></li>
{% empty %}
<li>No events.</li>
{% endfor %}
</ul>
{% endblock %}
