{% extends "fellowms/base.html" %}

{% block content %}
<h1>Software Sustainability Institute Fellowship Program</h1>
<h2>Fellows</h2>
{% for fellow in fellows %}
<div class="row">
    <div class="col-md-4">
        <img src="{{fellow.photo}}" alt="{{fellow.full_name}}" class="img-responsive img-circle">
        {{fellow.full_name}}
    </div>
    <!--
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
    -->
</div>
{% endfor %}

<h2>Events</h2>
<table>
    <tbody>
        <tr>
            <th>Name</th>
        </tr>
{% for event in events %}
<tr>
    <td>
{{event.name}}
    </td>
</tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
