{% extends "fellowms/base.html" %}

{% block content %}
<h1>Software Sustainability Institute Fellowship Program</h1>
<h2>Fellows</h2>
<div class="container">
<ul class="list-group row">
{% for fellow in fellows %}
<li class="list-group-item col-xs-3">
    <a href="{% url 'fellow_detail' fellow.id %}">
    <img src="{{fellow.photo.url}}" alt="Photo of {{ fellow.forenames }} {{ fellow.surname }}" class="img-responsive img-circle">
    <br>
    {{ fellow.forenames }} {{ fellow.surname }}
    </a>
    <br>
    {{ fellow.inauguration_year }}
</li>
{% endfor %}
<ul>
</div>

<h2>Events</h2>
<table>
    <tbody>
        <tr>
            <th>Name</th>
            <th>Start date</th>
            <th>End data</th>
        </tr>
{% for event in events %}
<tr>
    <td>{{event.name}}</td>
    <td>{{event.start_date}}</td>
    <td>{{event.end_date}}</td>
</tr>
{% empty %}
<tr>
    <td>No events.</td>
    <td></td>
    <td></td>
</tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
