/* Start all label from forms at the begin of the line. */
form input[type="submit"],
form label::before {
    content: '';
    display: block;
}

form .errorlist,
form .errorlist li {
    padding: 0;
    margin: 0;
    border: 0;
    display: inline;
    color: red;
}
