{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ organisation_name }} - lowFAT -
      {% if flatpage %}
      {{ flatpage.title }}
      {% else %}
      {{ title }}
      {% endif %}</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/vnd.microsoft.icon" />

    <!-- Begin CSS block -->
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

    <!-- Social Media -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/academicons.css' %}"/>

    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/lowfat.css' %}" />

    {% block extra_css %}{% endblock %}
    <!-- End CSS block -->

    <!-- Begin Javascript block -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Sorttable -->
    <script src="{% static 'js/sorttable.js' %}"></script>

    {% block extra_js %}{% endblock %}

    {% for js in js_files %}
    <script src="{% static js %}"></script>
    {% endfor %}
    <!-- End Javascript block -->

    {{ form.media }}
  </head>
  <body>
    <div class="header-sticky">
      <div class="pre-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12">
              <div>
                <nav role="navigation" aria-labelledby="block-otherpages-menu" id="block-otherpages" class="settings-tray-editable">
                  <div id="secondary-menu" class="secondary-menu">
                    <div class="header-links header-link-social" style="">
                      <a href="https://www.software.ac.uk/rss"
                         target="_blank"
                         title="Subscribe to the Software Sustainability Institute news feed">
                        <i class="fa fa-rss"><span class="sr-only">RSS</span></i>
                      </a>
                      <a href="https://twitter.com/SoftwareSaved"
                         target="_blank"
                         title="Follow the Software Sustainability Institute on Twitter">
                        <i class="fa fa-twitter"><span class="sr-only">Twitter</span></i>
                      </a>
                    </div>
                    <ul class="menu list-inline list-unstyled text-right" >
                      <li class="expanded" >
                        <a href="https://www.software.ac.uk/blog">Blog</a>
                      </li>
                      <li class="expanded" >
                        <a href="https://www.software.ac.uk/news">News</a>
                      </li>
                      <li class="expanded" >
                        <a href="https://www.software.ac.uk/events">Events</a>
                      </li>
                      <li class="expanded" >
                        <a href="https://www.software.ac.uk/contact">Contact</a>
                      </li>
                      <li class="expanded" >
                        <a href="https://www.software.ac.uk/subscribe">Subscribe</a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <header class="header clearfix">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-3">
              <div>
                <div id="block-ssi-branding" class="settings-tray-editable" data-drupal-settingstray="editable">
                  <a href="https://software.ac.uk/" title="Home" rel="home">
                    <img src="https://software.ac.uk/themes/ssi/images/ssi_logo_with_name-small2.png" alt="Home" />
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-9">
              <div>
                <nav role="navigation"
                     aria-labelledby="block-primarylinks-menu"
                     id="block-primarylinks"
                     class="settings-tray-editable">
                  <div id="header-menu">
                    <ul class="menu list-inline list-unstyled nav navbar-nav" >
                      {% if user.is_authenticated %}
                      {% if user.is_staff or user.is_superuser %}
                      <li>
                        <form class="form-inline" action="{% url 'search' %}" method="post">
                          {% csrf_token %}
                          <div class="input-group">
                            <input class="form-control" type="text" name="search" value={{ search }}>
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Search</button>
                            </span>
                          </div>
                        </form>
                      </li>
                      {% else %}
                      <li class="menu-item">
                        <a href="{% url 'my_profile' %}">My Profile</a>
                      </li>
                      {% endif %}
                      <li class="menu-item">
                        <a href="{% url 'dashboard' %}">My Dashboard</a>
                      </li>
                      <li class="menu-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li class="menu-item"><a href="{% url 'fund' %}">Make a funding request</a></li>
                          <li class="menu-item"><a href="{% url 'expense' %}">Submit expense claim</a></li>
                          <li class="menu-item"><a href="{% url 'blog' %}">Submit a blog post</a></li>
                        </ul>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'sign_out' %}">Sign out</a>
                      </li>
                      {% else %}
                      <li class="menu-item">
                        <a href="{% url 'sign_in' %}">Sign in</a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'social:begin' 'github' %}">Sign in with GitHub</a>
                      </li>
                      {% endif %}
                    </ul>
                  </div>
                </nav>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </div>
        </div>
      </header>
    </div>
    <div class="container">
      {% include "lowfat/alert.html" %}
      {% include "lowfat/maintenance.html" %}
      {% if flatpage %}
      <h1>{{ flatpage.title }}</h1>
      {{ flatpage.content }}
      {% else %}
      {% block content %}{% endblock %}
      {% endif %}
    </div>
    <footer>
      <div class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p>Powered with
                <a href="http://python.org/">Python 3</a>,
                <a href="http://djangoproject.com/">Django</a>,
                <a href="http://radiac.net/projects/django-tagulous/">django-tagulous</a>,
                <a href="http://getbootstrap.com/">Bootstrap</a>,
                <a href="http://garlicjs.org/">Garlic.js</a>,
                <a href="https://selectize.github.io/selectize.js/">Selectize.js</a>,
                <a href="http://www.kryogenix.org/code/browser/sorttable/">SortTable</a>,
                <a href="http://fontawesome.io/">Font Awesome</a>, and
                <a href="http://jpswalsh.github.io/academicons/">Academicons</a>.
                <br>
                Running version {{ settings.VERSION }}
                from <a href="{{ settings.URL_SRC }}">{{ settings.URL_SRC }}</a>.
              </p>
              <p>
                &copy;2010 - 2018 <a href="https://www.ed.ac.uk/">The University of Edinburgh</a> on
                behalf of the <a href="https://software.ac.uk/">Software Sustainability Institute</a>.
              </p>
            </div>
            <div class="col-xs-12 col-md-6 text-right">
              <ul class="list-inline list-unstyle text-right">
                <li>
                  <a href="https://software.ac.uk/terms">Terms</a>
                </li>
                <li>
                  <a href="https://software.ac.uk/privacy">Privacy Policy</a>
                </li>
                <li>
                  <a href="https://software.ac.uk/cookies">Cookie Policy</a>
                </li>
                <li>
                  <a href="mailto:{{ config.FELLOWS_MANAGEMENT_EMAIL }}">Contact us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    {% block extra_js_body %}{% endblock %}
  </body>
</html>

