<h2>
  Blog Posts
  {% if not user.is_authenticated and fund.access_token_is_valid %}
  <a class="btn btn-outline-dark" href="{% url 'blog_form_public' fund.access_token %}">Submit a blog post</a>
  {% else %}
  {% if user.is_staff or claimant and user == claimant.user or fund.claimant and user == fund.claimant.user %}
  {% if claimant %}
  <a class="btn btn-outline-dark" href="{% url 'blog' %}?claimant_id={{claimant.id}}">Submit a blog post</a>
  {% elif fund %}
  <a class="btn btn-outline-dark" href="{% url 'blog' %}?fund_id={{fund.id}}">Submit a blog post</a>
  {% else %}
  <a class="btn btn-outline-dark" href="{% url 'blog' %}">Submit a blog post</a>
  {% endif %}
  {% endif %}
  {% endif %}
</h2>
{% if fund %}
<p><strong>This fund requires {{ fund.required_blog_posts }} blog posts.</strong></p>
{% endif %}
{% if user.is_staff %}
<ul class="nav">
  <li {% if blogs_status == 'URCGLPMDOX' %}class="nav-item"{% endif %}>
    <a class="nav-link active" href="?funding_requests={{ funding_requests_status }}&expenses={{ expenses_status }}&blogs=URCGLPMDOX">All</a>
  </li>
  <li {% if blogs_status == 'URCGL' %}class="nav-item"{% endif %}>
    <a class="nav-link active" href="?funding_requests={{ funding_requests_status }}&expenses={{ expenses_status }}&blogs=URCGL">Pending</a>
  </li>
  <li {% if blogs_status == 'P' %}class="nav-item"{% endif %}>
    <a class="nav-link active" href="?funding_requests={{ funding_requests_status }}&expenses={{ expenses_status }}&blogs=P">Published</a>
  </li>
  <li {% if blogs_status == 'MDOX' %}class="nav-item"{% endif %}>
    <a class="nav-link active" href="?funding_requests={{ funding_requests_status }}&expenses={{ expenses_status }}&blogs=MDOX">Other</a>
  </li>
</ul>
{% endif %}
<table class="table table-bordered sortable">
  <tbody>
    <tr>
      {% if user.is_staff or claimant and user == claimant.user or fund.claimant and user == fund.claimant.user %}
      {% if user.is_staff or claimant and user == claimant.user %}
      <th>
        ID
      </th>
      {% endif %}
      {% if user.is_staff %}
      <th>
        Fellow
      </th>
      <th>
        Submitted date
      </th>
      {% endif %}
      <th>
        Blog
      </th>
      <th>
        Funding Request
      </th>
      {% endif %}
      {% if user.is_staff or claimant and user == claimant.user or fund.claimant and user == fund.claimant.user %}
      <th>
        Status
      </th>
      {% endif %}
      <th>
        Publish date
      </th>
      {% if user.is_staff or claimant and user == claimant.user or fund.claimant and user == fund.claimant.user %}
      <th>
        Actions
      </th>
      {% endif %}
    </tr>
    {% if blogs %}
    {% for blog in blogs %}
    <tr
      {% if user.is_staff or claimant and user == claimant.user %}
      {% if blog.status in 'PDO' %}
      class="table-success"
      {% elif blog.status in 'U' %}
      class="table-danger"
      {% else %}
      class="table-warning"
      {% endif %}
      {% endif %}
      >
      {% if user.is_staff or claimant and user == claimant.user %}
      <td>{{blog.fund.id}}</td>
      {% endif %}
      {% if user.is_staff %}
      <td>
        <a href="{% url 'fellow_slug' blog.author.slug %}">{{ blog.author.fullname }}</a>
      </td>
    {% endif %}
      {% if user.is_staff or claimant and user == claimant.user or fund.claimant and user == fund.claimant.user %}
      <td sorttable_customkey="{{ blog.added | date:'Ymd' }}">
        {{ blog.added | date:"d M Y"}}
      </td>
      {% endif %}
      <td>
        {% if blog.title %}
        <a href="{{ blog.published_url }}">{{ blog.title }}</a>
        {% if blog.tweet_url|length > 0 %}
        <a class="icon" href="{{blog.tweet_url}}">
          <i class="fab fa-twitter" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% else %}
        {% if user.is_staff %}
        <a title="Review" href="{% url 'blog_review' blog.id %}">{{ blog.draft_url }}</a>
        {% else %}
        <a href="{{ blog.draft_url }}">{{ blog.draft_url }}</a>
        {% endif %}
        {% endif %}
      </td>
      {% if user.is_staff %}
      <td>
        {% if blog.fund %}
        <a href="{% url 'fund_detail' blog.fund.id %}">{{ blog.fund.title }}</a>
        {% endif %}
      </td>
      {% endif %}
      {% if user.is_staff or claimant and user == claimant.user or fund.claimant and user == fund.claimant.user %}
      <td>
        {{ blog.get_status_display }}
        {% if blog.status in "RCGL" and blog.reviewer %}
        (Please contact <a href="mailto:{{ blog.reviewer.email }}">{{ blog.reviewer.get_full_name }}</a>.)
        {% endif %}
      </td>
      {% endif %}
      <td>
        {% if blog.status in 'P' %}
        {{ blog.updated }}
        {% elif blog.status in 'URCGL' %}
        Not published yet
        {% else %}
        Not published
        {% endif %}
      </td>
      {% if user.is_staff or claimant and user == claimant.user or fund.claimant and user == fund.claimant.user %}
      <td>
        {% if user.is_staff %}
        <a class="icon" href="mailto:{{ blog.author.email }}"><i class="fa-solid fa-envelope" aria-hidden="true"></i></a>
        {% endif %}
        <a title="View" href="{% url 'blog_detail' blog.id %}"><span class="fa-solid fa-eye" aria-hidden="true"></span></a>
        {% if user.is_staff %}
        <a  title="Review" href="{% url 'blog_review' blog.id %}"><span class="fa-solid fa-check" aria-hidden="true"></span></a>
        {% endif %}
        {% if user.is_staff or blog.status == "U" %}
        <a  title="Edit" href="{% url 'blog_edit' blog.id %}"><span class="fa-solid fa-edit" aria-hidden="true"></span></a>
        {% comment %} <a  title="Remove" href="{% url 'blog_remove' blog.id %}?next={{ request.path }}"><span class="fa-solid fa-remove" aria-hidden="true"></span></a> {% endcomment %}
        {% endif %}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td
        {% if user.is_staff %}
        colspan="8"
        {% elif claimant and user == claimant.user or fund.claimant and user == fund.claimant.user %}
        colspan="6"
        {% else %}
        colspan="2"
        {% endif %}
        >
        <strong>No event.</strong>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
