{% extends "lowfat/base.html" %}

{% block content %}
<h1>Blog Detail
  <span
     {% if blog.status in 'PDO' %}
     class="label label-success"
     {% elif blog.status in 'U' %}
     class="label label-danger"
     {% else %}
     class="label label-warning"
     {% endif %}
  >{{ blog.get_status_display }}</span>
  {% if user.is_staff %}
  <a  title="Review" class="btn btn-default" href="{% url 'blog_review' blog.id %}" role="button"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Review</a>
  {% endif %}
  {% if user.is_superuser or blog.status == "U" %}
  <a title="Edit" class="btn btn-default" href="{% url 'blog_edit' blog.id %}" role="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
  <a title="Remove" class="btn btn-default" href="{% url 'blog_remove' blog.id %}?next={% url 'dashboard' %}" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</a>
  {% endif %}
</h1>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Author</th>
      <td>
          {{ blog.author.fullname_link|safe }}
        <a class="icon" href="mailto:{{ blog.author.email }}">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
    {% if blog.coauthor.all|length > 0 %}
    <tr>
      <th>Contributors</th>
        <td>
          {% for author in blog.coauthor.all %}
          {{ author.fullname_link|safe }}
          <a class="icon" href="mailto:{{ author.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
    </tr>
    {% endif %}
    {% if blog.fund %}
    <tr>
      <th>Funding request title</th>
      <td>{{ blog.fund.title_link|safe }}</td>
    </tr>
    {% endif %}
    <tr>
      <th>Notes</th>
      <td>
        {{ blog.notes_from_author }}
      </td>
    </tr>
    <tr>
      <th>Submitted date</th>
      <td>{{ blog.added }}</td>
    </tr>
    <tr>
      <th>Draft URL</th>
      <td><a href="{{ blog.draft_url }}">{{ blog.draft_url }}</a></td>
    </tr>
    <tr>
      <th>Reviewer</th>
      <td>
        {% if blog.reviewer %}
        {{ blog.reviewer.get_full_name }} <a href="mailto:{{ blog.reviewer.email }}" class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        {% else %}
        Reviewer not assign yet.
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Published URL</th>
      <td>
        {% if blog.published_url|length > 0 %}
        <a href="{{ blog.published_url }}">{{ blog.published_url }}</a>
        {% else %}
        Not published yet.
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Tweet URL</th>
      <td>
        {% if blog.tweet_url|length > 0 %}
        <a href="{{ blog.tweet_url }}">{{ blog.tweet_url }}</a>
        {% else %}
        Not published yet.
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>
{% include 'lowfat/communication.html' %}
{% endblock %}
