{% extends "lowfat/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>
  Blog Review
  {% if user.is_superuser %}
  <a class="btn btn-default" href="{% url 'blog_detail' blog.id %}" role="button"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View</a>
  <a class="btn btn-default" href="{% url 'admin:lowfat_blog_change' blog.id %}" role="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
  {% endif %}
</h1>
<iframe class="blog-review-html" src="{{ blog.draft_url }}">
</iframe>

<div class="row">
  <div class="col-md-6">
    <h2>Fund</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Requester name</th>
            <td>
              <a href="{% url 'claimant_detail' blog.author.id %}">{{ blog.author.fullname }}</a>
              <a class="icon" href="mailto:{{ blog.author.email }}">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </a>
            </td>
        </tr>
        {% if blog.fund %}
        <tr>
          <th>Funding request name</th>
          <td><a href="{% url 'fund_detail' blog.fund.id %}">{{ blog.fund.name }}</a></td>
        </tr>
        {% endif %}
    </tbody>
</table>
<h2>Communication</h2>
<table class="table table-bordered">
    <tbody>
{% for email in emails %}
        <tr>
            <th>From</th>
            <td>{{ email.sender }}</td>
        </tr>
        <tr>
            <th>To</th>
            <td>{{ email.receiver }}</td>
        </tr>
        <tr>
            <th>Message</th>
            <td>{{ email.justification }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
  </div>
  <div class="col-md-6">
<h2>Blog</h2>
{% crispy formset %}
  </div>
</div>
{% endblock %}
