{% extends "lowfat/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>
  Blog Review
  {% if user.is_staff %}
  <a title="View" class="btn btn-default" href="{% url 'blog_detail' blog.id %}" role="button"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View</a>
  {% endif %}
  {% if user.is_superuser %}
  <a title="Edit" class="btn btn-default" href="{% url 'blog_edit' blog.id %}" role="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
  <a title="Remove" class="btn btn-default" href="{% url 'blog_remove' blog.id %}" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</a>
  {% endif %}
</h1>
<iframe class="blog-review-html" src="{{ blog.draft_url }}">
</iframe>

<div class="row">
  <div class="col-md-6">
    <h2>Fund</h2>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>Author</th>
          <td>
            {{ blog.author.fullname_link|safe }}
            <a class="icon" href="mailto:{{ blog.author.email }}">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        {% if blog.coauthor.all|length > 0 %}
        <tr>
          <th>Contributors</th>
          <td>
            {% for author in blog.coauthor.all %}
            {{ author.fullname_link|safe }}
            <a class="icon" href="mailto:{{ author.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </td>
        </tr>
        {% endif %}
        {% if blog.fund %}
        <tr>
          <th>Funding request title</th>
          <td>{{ blog.fund.title_link|safe }}</td>
        </tr>
        {% endif %}
        <tr>
          <th>Notes from author</th>
          <td>{{ blog.notes_from_author }}</td>
        </tr>
      </tbody>
    </table>
    {% include "lowfat/communication.html" %}
  </div>
  <div class="col-md-6">
    <h2>Blog</h2>
    {% crispy formset %}
  </div>
</div>
{% endblock %}
