{% extends "lowfat/base.html" %}

{% block content %}
<h1>Blog Detail
  <span
     {% if blog.status in 'PDO' %}
     class="label label-success"
     {% elif blog.status in 'U' %}
     class="label label-danger"
     {% else %}
     class="label label-warning"
     {% endif %}
  >{{ blog.get_status_display }}</span>
  {% if user.is_staff %}
  <a  title="Review" class="btn btn-default" href="{% url 'blog_review' blog.id %}" role="button"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Review</a>
  {% endif %}
  {% if user.is_superuser or blog.status == "U" %}
  <a title="Edit" class="btn btn-default" href="{% url 'blog_edit' blog.id %}" role="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
  <a title="Remove" class="btn btn-default" href="{% url 'blog_remove' blog.id %}?next={% url 'dashboard' %}" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</a>
  {% endif %}
</h1>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Author</th>
      <td>
        <a href="{% url 'claimant_detail' blog.author.id %}">
          {{ blog.author.fullname }}
        </a>
        <a class="icon" href="mailto:{{ blog.author.email }}">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
    {% if blog.coauthor.all|length > 0 %}
    <tr>
      <th>Contributors</th>
        <td>
          {% for author in blog.coauthor.all %}
          <a href="{% url 'claimant_detail' author.id %}">{{ author.fullname }}</a>
          <a class="icon" href="mailto:{{ author.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
    </tr>
    {% endif %}
    {% if blog.fund %}
    <tr>
      <th>Funding request name</th>
      <td>
        <a href="{% url 'fund_detail' blog.fund.id %}">
          {{ blog.fund.name }}
        </a>
      </td>
    </tr>
    {% endif %}
    <tr>
      <th>Notes</th>
      <td>
        {{ blog.notes_from_author }}
      </td>
    </tr>
    <tr>
      <th>Draft URL</th>
      <td><a href="{{ blog.draft_url }}">{{ blog.draft_url }}</a></td>
    </tr>
    <tr>
      <th>Published URL</th>
      {% if blog.published_url|length > 0 %}
      <td><a href="{{ blog.published_url }}">{{ blog.published_url }}</a></td>
      {% else %}
      <td></td>
      {% endif %}
    </tr>
    <tr>
      <th>Tweet URL</th>
      {% if blog.tweet_url|length > 0 %}
      <td><a href="{{ blog.tweet_url }}">{{ blog.tweet_url }}</a></td>
      {% else %}
      <td></td>
      {% endif %}
    </tr>
  </tbody>
</table>
{% include 'lowfat/communication.html' %}
{% endblock %}
