<h2>
  Blog Posts
  {% if user.is_staff or claimant and user == claimant.user %}
  {% if claimant %}
  <a class="btn btn-default" href="{% url 'blog' %}?claimant_id={{claimant.id}}">Submit a blog post</a>
  {% elif fund %}
  <a class="btn btn-default" href="{% url 'blog' %}?fund_id={{fund.id}}">Submit a blog post</a>
  {% else %}
  <a class="btn btn-default" href="{% url 'blog' %}">Submit a blog post</a>
  {% endif %}
  {% endif %}
</h2>
{% if fund %}
<p><strong>This fund requires {{ fund.required_blog_posts }} blog posts.</strong></p>
{% endif %}
{% if user.is_staff %}
<ul class="nav nav-tabs">
  <li role="presentation" {% if blogs_status == 'URGLPDO' %}class="active"{% endif %}>
    <a href="?funding_requests={{ funding_requests_status }}&expenses={{ expenses_status }}&blogs=URGLPDO">All</a>
  </li>
  <li role="presentation" {% if blogs_status == 'URGL' %}class="active"{% endif %}>
    <a href="?funding_requests={{ funding_requests_status }}&expenses={{ expenses_status }}&blogs=UR">Pending</a>
  </li>
  <li role="presentation" {% if blogs_status == 'PDO' %}class="active"{% endif %}>
    <a href="?funding_requests={{ funding_requests_status }}&expenses={{ expenses_status }}&blogs=P">Published</a>
  </li>
</ul>
{% endif %}
<table class="table table-bordered sortable">
  <tbody>
    <tr>
      {% if user.is_staff or claimant and user == claimant.user %}
      <th>
        Submitted date
      </th>
      {% endif %}
      <th>
        Blog
      </th>
      {% if user.is_staff or claimant and user == claimant.user %}
      <th>
        Status
      </th>
      {% endif %}
      <th>
        Publish date
      </th>
      {% if user.is_staff or claimant and user == claimant.user %}
      <th>
        Actions
      </th>
      {% endif %}
    </tr>
    {% if blogs %}
    {% for blog in blogs %}
    <tr
      {% if user.is_staff or claimant and user == claimant.user %}
      {% if blog.status in 'PDO' %}
      class="success"
      {% elif blog.status in 'U' %}
      class="danger"
      {% else %}
      class="warning"
      {% endif %}
      {% endif %}
      >
      {% if user.is_staff or claimant and user == claimant.user %}
      <td>
        {{ blog.added }}
      </td>
      {% endif %}
      <td>
        {% if user.is_staff %}
        <a title="Review" href="{% url 'blog_review' blog.id %}">{{ blog.draft_url }}</a>
        by <a href="{% url 'claimant_detail' blog.author.id %}">{{ blog.author.fullname }}</a>
        {% if blog.fund %}
        for <a href="{% url 'fund_detail' blog.fund.id %}">{{ blog.fund.name }}</a>
        {% endif %}
        {% else %}
        {% if blog.title %}
        <a href="{{ blog.published_url }}">{{ blog.title }}</a>
        {% if blog.tweet_url|length > 0 %}
        <a class="icon" href="{{blog.tweet_url}}">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% else %}
        <a href="{{ blog.draft_url }}">{{ blog.draft_url }}</a>
        {% endif %}
        {% endif %}
      </td>
      {% if user.is_staff or claimant and user == claimant.user %}
      <td>
        {{ blog.get_status_display }}
      </td>
      {% endif %}
      <td>
        {% if blog.published_url|length > 0 %}
        {{ blog.updated }}
        {% else %}
        <strong>Unpublished</strong>
        {% endif %}
      </td>
      {% if user.is_staff or claimant and user == claimant.user %}
      <td>
        {% if user.is_staff %}
        <a class="icon" href="mailto:{{ blog.author.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        {% endif %}
        <a title="View" href="{% url 'blog_detail' blog.id %}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
        {% if user.is_staff %}
        <a  title="Review" href="{% url 'blog_review' blog.id %}"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></a>
        {% endif %}
        {% if user.is_superuser or blog.status == "U" %}
        <a  title="Edit" href="{% if user.is_superuser %}{% url 'admin:lowfat_blog_change' blog.id %}{% else %}{% url 'blog' %}?id={{ blog.id }}{% endif %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
        <a  title="Remove" href="{% if user.is_superuser %}{% url 'admin:lowfat_blog_delete' blog.id %}{% else %}{% url 'blog_delete' blog.id %}?next={{ request.path }}{% endif %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        {% endif %}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td
        {% if user.is_staff %}
        colspan="5"
        {% elif claimant and user == claimant.user %}
        colspan="5"
        {% else %}
        colspan="2"
        {% endif %}
        >
        <strong>No event.</strong>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
