{% extends "fat/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Blog Review</h1>
<iframe class="blog-review-html" src="{{ blog.draft_url }}">
</iframe>

<div class="row">
  <div class="col-md-6">
    <h2>Fund</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Claimant</th>
            <td>{{ blog.fund.claimant.fullname }}</td>
        </tr>
        <tr>
            <th>Fund</th>
            <td>{{ blog.fund.name }}</td>
        </tr>
    </tbody>
</table>
<h2>Communication</h2>
<table class="table table-bordered">
    <tbody>
{% for email in emails %}
        <tr>
            <th>From</th>
            <td>{{ email.sender }}</td>
        </tr>
        <tr>
            <th>To</th>
            <td>{{ email.receiver }}</td>
        </tr>
        <tr>
            <th>Message</th>
            <td>{{ email.justification }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
  </div>
  <div class="col-md-6">
<h2>Blog</h2>
{% crispy formset %}
  </div>
</div>
{% endblock %}
