{% extends "lowfat/base.html" %}
{% load staticfiles %}

{% block content %}
{% include "lowfat/success.html" %}
<h1>
  {% if claimant.selected %}
  Fellow
  {% else %}
  Claimant
  {% endif %}
  Detail
  {% if user == claimant.user %}
  <a class="btn btn-default" href="{% url 'fellow' %}?full=true" role="button">Edit</a>
  {% endif %}
  {% if user.is_superuser %}
  <a class="btn btn-default" href="{% url 'admin:lowfat_claimant_change' claimant.id %}" role="button">Edit</a>
  {% endif %}
</h1>
<div class="row">
<div class="fellow col-md-2">
  {% include 'lowfat/photo.html' %}
</div>
<div class="fellow col-md-10">
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ claimant.fullname }}</td>
        </tr>
        <tr>
            <th>Affiliation</th>
            <td>{{ claimant.affiliation }}</td>
        </tr>
        <tr>
            <th>Research area code</th>
            <td>{{ claimant.get_research_area_code_display }}</td>
        </tr>
        {% if claimant.selected %}
        <tr>
            <th>Fellowship Inauguration Year</th>
            <td>{{ claimant.application_year|add:"1" }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>
</div>
{% if show_finances %}
{% include 'lowfat/finances.html' %}
{% endif %}
<h2>
  Funding requests
  {% if user == claimant.user or user.is_superuser %}
  <a class="btn btn-default" href="{% url 'fund' %}?claimant_id={{claimant.id}}">Make a funding request</a>
  {% endif %}
</h2>
{% include 'lowfat/funds.html' %}
{% if user == claimant.user or user.is_superuser %}
{% include 'lowfat/expenses.html' %}
<h2>
  Blogs
  <a class="btn btn-default" href="{% url 'blog' %}?claimant_id={{claimant.id}}">Submit a blog post</a>
</h2>
{% include 'lowfat/blogs.html' %}
{% endif %}
{% endblock %}
