{% extends "lowfat/base.html" %}
{% load staticfiles %}

{% block content %}
{% include "lowfat/success.html" %}
<h1>
  {% if user == claimant.user %}
  My Profile
  {% else %}
  {% if claimant.selected %}
  Fellow
  {% else %}
  Claimant
  {% endif %}
  Detail
  {% endif %}

  {% if user == claimant.user %}
  <a class="btn btn-default" href="{% url 'fellow' %}?full=true" role="button">Edit</a>
  {% endif %}
  {% if user.is_superuser %}
  <a class="btn btn-default" href="{% url 'admin:lowfat_claimant_change' claimant.id %}" role="button">Edit</a>
  {% endif %}
</h1>
<div class="row">
<div class="fellow col-md-2">
  {% include 'lowfat/photo.html' %}
</div>
<div class="fellow col-md-10">
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ claimant.fullname }}</td>
        </tr>
        <tr>
            <th>Affiliation</th>
            <td>{{ claimant.affiliation }}</td>
        </tr>
        <tr>
            <th>Research area code</th>
            <td>{{ claimant.get_research_area_code_display }}</td>
        </tr>
        {% if claimant.selected %}
        <tr>
            <th>Fellowship Inauguration Year</th>
            <td>{{ claimant.application_year|add:"1" }}</td>
        </tr>
        {% endif %}
        {% if user.is_superuser %}
        <tr>
          <th>Email</th>
          <td>
            <a class="icon" href="mailto:{{ claimant.email }}">{{ claimant.email }}</a>
          </td>
        </tr>
        {% endif %}
        {% if claimant.website %}
        <tr>
          <th>Website</th>
          <td>
            <a class="icon" href="{{ claimant.website }}">{{ claimant.website }}</a>
          </td>
        </tr>
        {% endif %}
        {% if claimant.website_feed %}
        <tr>
          <th>RSS/Atom Feed</th>
          <td>
            <a class="icon" href="{{ claimant.website_feed }}">{{ claimant.website_feed }}</a>
          </td>
        </tr>
        {% endif %}
        {% if claimant.orcid %}
        <tr>
          <th>ORCID</th>
          <td>
            <a class="icon" href="http://orcid.org/{{ claimant.orcid }}">{{ claimant.orcid }}</a>
          </td>
        </tr>
        {% endif %}
        {% if claimant.github %}
        <tr>
          <th>GitHub</th>
          <td>
            <a class="icon" href="http://github.com/{{ claimant.github }}">{{ claimant.github }}</a>
          </td>
        </tr>
        {% endif %}
        {% if claimant.gitlab %}
        <tr>
          <th>GitLab</th>
          <td>
            <a class="icon" href="https://gitlab.com/{{ claimant.gitlab }}">{{ claimant.gitlab }}</a>
          </td>
        </tr>
        {% endif %}
        {% if claimant.twitter %}
        <tr>
          <th>Twitter</th>
          <td>
            <a class="icon" href="https://twitter.com/{{ claimant.twitter }}">{{ claimant.twitter }}</a>
          </td>
        </tr>
        {% endif %}
        {% if claimant.facebook %}
        <tr>
          <th>Facebook</th>
          <td>
            <a class="icon" href="https://facebook.com/{{ claimant.facebook }}">{{ claimant.facebook }}</a>
          </td>
        </tr>
{% endif %}
</table>
</div>
{% endblock %}
