{% extends "lowfat/base.html" %}

{% block content %}
<h1>Software Sustainability Institute Fellowship Programme</h1>
<p>If you need us to process something please use one of the links below:</p>
{% if user.is_staff or user.is_staff %}
<div class="d-grid gap-2 d-lg-block">
  <a role="button" class="btn btn-secondary" href="{% url 'claimant' %}">Create claimant profile</a>
  <a role="button" class="btn btn-secondary" href="{% url 'promote' %}">Promote claimant profile to fellow profile</a>
  <a role="button" class="btn btn-secondary" href="{% url 'report' %}">View summary report of events <strong>(Work in progress)</strong></a>
</div>
<br>
{% endif %}
<div class="d-grid gap-2 d-lg-block">
  <a role="button" class="btn btn-secondary" href="{% url 'fund' %}">Make a funding request</a>
  <a role="button" class="btn btn-secondary" href="{% url 'expense' %}">Submit expense claim</a>
  <a role="button" class="btn btn-secondary" href="{% url 'blog' %}">Submit a blog post</a>
</div>
{% if user.is_staff or claimant.fellow %}
<p><a href="{% url 'fund_ical' token=ical_token %}">Click here</a> to access the shared calendar of events related with fellows.</p>
{% endif %}
{% if user.is_staff %}
<p><a href="{% url 'recent_actions' %}">Click here</a> to view last changes on the database.</p>
<p><a href="{% url 'fund_import' %}">Click here</a> to import funding requests
  from a CSV file. <spanp class="text-danger">This is an experimental feature. You will not have access to debug information!</span></p>
{% else %}
<p>If you need any help please email <a href="mailto:{{ config.FELLOWS_MANAGEMENT_EMAIL }}">us</a>.</p>
{% endif %}
{% if user.is_admin %}
<p><a href="{% url 'admin:index' %}">Click here</a> to edit the information in the database here (e.g. needed if the dates of an event change).</p>
{% endif %}
{% if not user.is_staff %}
{% if claimant.fellow %}
{% include 'lowfat/finances.html' %}
{% endif %}
{% endif %}
{% include 'lowfat/funds_header.html' %}
{% include 'lowfat/funds.html' %}
{% include 'lowfat/expenses.html' %}
{% include 'lowfat/blogs.html' %}
{% endblock %}
