{% extends "lowfat/base.html" %}

{% block content %}
<h1>Activities of Software Sustainability Institute Fellows {% if search_year %}in {{ search_year }} {% endif %}</h1>
{% comment %} create a dropdown with choices as years_unique, which filters the funds shown {% endcomment %}
<center>
    <hr>
    <h3>Choose a year: </h3> 
    <form method="POST">
        {% csrf_token %}
        <select name="year" >
            <option selected disabled=true>--Select Year--</option>
            {% for year in years_unique %}
            <option>{{ year }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Apply">
        <hr>
    </form>

<div class="container-fluid">
    <div class="row">
        <div class="card border-secondary m-3 col-lg">
            <h4 class="card-title">Domain Specific Events Organised (N = {{ n_domain_specific_events_organised }})</h4>
            <ul class="list-group list-group-flush">
                {% if domain_specific_events_organised %}
                {% for fund in domain_specific_events_organised %}
                <li class="list-group-item">{{ fund.title }}</li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>

        <div class="card border-secondary m-3 col-lg">
            <h4 class="card-title">Domain Specific Events Attended (N = {{ n_domain_specific_events_attended }})</h4>
            <ul class="list-group list-group-flush">
                {% if domain_specific_events_attended %}
                {% for fund in domain_specific_events_attended %}
                <li class="list-group-item">{{ fund.title }}</li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="card border-secondary m-3 col-lg">
            <h4 class="card-title">Cross Cutting Events Organised (N = {{ n_cross_cutting_events_organised }})</h4>
            <ul class="list-group list-group-flush">
                {% if cross_cutting_events_organised %}
                {% for fund in cross_cutting_events_organised %}
                <li class="list-group-item">{{ fund.title }}</li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>

        <div class="card border-secondary m-3 col-lg">
            <h4 class="card-title">Cross Cutting Events Attended (N = {{ n_cross_cutting_events_attended }})</h4>
            <ul class="list-group list-group-flush">
                {% if cross_cutting_events_attended %}
                {% for fund in cross_cutting_events_attended %}
                <li class="list-group-item">{{ fund.title }}</li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% comment %} <h2>All Events (N = {{ n_funds }})</h2>
<ul>
{% if funds %}
{% for fund in funds %}
    <li>
    {{ fund.title }}
    </li>
{% endfor %}
{% endif %}
</ul> {% endcomment %}


{% endblock %}