{% extends "lowfat/base.html" %}

{% block content %}
<h1>Activities of Software Sustainability Institute Fellows {% if search_year %}in {{ search_year }} {% endif %}</h1>
{% comment %} create a dropdown with choices as years_unique, which filters the funds shown {% endcomment %}
<center>
    <hr>
    Select a year:
    <form method="POST">
        {% csrf_token %}
        <select name="year">
            <option selected disabled=true>--Select Year--</option>
            {% for year in years_unique %}
            <option>{{ year }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Apply">
        <hr>
    </form>

<h2>Domain Specific Events Organised (N = {{ n_domain_specific_events_organised }})</h2>
<ul>
    {% if domain_specific_events_organised %}
    {% for fund in domain_specific_events_organised %}
        <li>
        {{ fund.title }}
        </li>
    {% endfor %}
    {% endif %}
</ul>

<h2>Domain Specific Events Attended (N = {{ n_domain_specific_events_attended }})</h2>
<ul>
    {% if domain_specific_events_attended %}
    {% for fund in domain_specific_events_attended %}
        <li>
        {{ fund.title }}
        </li>
    {% endfor %}
    {% endif %}
</ul>

<h2>Cross Cutting Events Organised (N = {{ n_cross_cutting_events_organised }})</h2>
<ul>
    {% if cross_cutting_events_organised %}
    {% for fund in cross_cutting_events_organised %}
        <li>
        {{ fund.title }}
        </li>
    {% endfor %}
    {% endif %}
</ul>

<h2>Cross Cutting Events Attended (N = {{ n_cross_cutting_events_attended }})</h2>
<ul>
    {% if cross_cutting_events_attended %}
    {% for fund in cross_cutting_events_attended  %}
        <li>
        {{ fund.title }}
        </li>
    {% endfor %}
    {% endif %}
</ul> 

<h2>All Events (N = {{ n_funds }})</h2>
<ul>
{% if funds %}
{% for fund in funds %}
    <li>
    {{ fund.title }}
    </li>
{% endfor %}
{% endif %}
</ul>


{% endblock %}