<h2>
  Expenses
  {% if user.is_staff or claimant and user == claimant.user or fund.claimant and user == fund.claimant.user %}
  {% if fund %}
  {% if fund.status not in "RFCX" %}
  <a class="btn btn-default" href="{% url 'expense' %}{% if fund %}?fund_id={{fund.id}}{% endif %}">Submit expense claim</a>
  {% else %}
  <a class="btn btn-default" href="{% url 'expense' %}?claimant_id={{claimant.id}}">Submit expense claim</a>
  {% endif %}
  {% else %}
  {% if user.is_staff and claimant %}
  <a class="btn btn-default" href="{% url 'expense' %}?claimant_id={{claimant.id}}">Submit expense claim</a>
  {% else %}
  <a class="btn btn-default" href="{% url 'expense' %}">Submit expense claim</a>
  {% endif %}
  {% endif %}
  {% endif %}
</h2>
{% if user.is_staff %}
<ul class="nav nav-tabs">
  <li role="presentation" {% if expenses_status == 'SCAR' %}class="active"{% endif %}>
    <a href="?funding_requests={{ funding_requests_status }}&expenses=WSCPAF&blogs={{ blogs_status }}">All</a>
  </li>
  <li role="presentation" {% if expenses_status == 'SC' %}class="active"{% endif %}><a href="?funding_requests={{ funding_requests_status }}&expenses=WSCP&blogs={{ blogs_status }}">Pending</a></li>
  <li role="presentation" {% if expenses_status == 'A' %}class="active"{% endif %}><a href="?funding_requests={{ funding_requests_status }}&expenses=AF&blogs={{ blogs_status }}">Approved</a></li>
</ul>
{% endif %}
<table class="table table-bordered sortable">
  <tbody>
    <tr>
      {% if user.is_staff or claimant and user == claimant.user %}
      <th>
        Submitted date
      </th>
      {% endif %}
      <th>
        Claim
      </th>
      {% if user.is_staff %}
      <th>
        Fellow
      </th>
      <th>
        Funding Request
      </th>
      {% endif %}
      <th>
        Status
      </th>
      <th>
        Amount claimant
      </th>
      <th>
        Amount authorized for payment
      </th>
      {% if user.is_staff or claimant and user == claimant.user or fund.claimant and user == fund.claimant.user %}
      <th>
        Actions
      </th>
      {% endif %}
    </tr>
    {% if expenses %}
    {% for expense in expenses %}
    <tr
      {% if expense.status in 'S' %}
      class="danger"
      {% elif expense.status in 'C' %}
      class="warning"
      {% elif expense.status in 'A' %}
      class="success"
      {% endif %}
      >
      {% if user.is_staff or claimant and user == claimant.user %}
      <td sorttable_customkey="{{ expense.added | date:'Ymd' }}">
        {{ expense.added }}
      </td>
      {% endif %}
      <td>
        {% if expense.claim %}
        <a
          {% if user.is_staff %}
          href="{% url 'expense_review_relative' expense.fund.id expense.relative_number %}"
          {% else %}
          <a href="{% url 'expense_detail_relative' expense.fund.id expense.relative_number %}"
             {% endif %}
             >{{ expense.fund.title }} #{{ expense.relative_number }}</a>
          {% else %}
          Missing claim of expense
          {% endif %}
      </td>
      {% if user.is_staff %}
      <td>
        <a title='View' href="{% url 'fellow_slug' expense.fund.claimant.slug %}">{{ expense.fund.claimant.fullname }}</a>
      </td>
      <td>
        <a title='View' href="{% url 'fund_detail' expense.fund.id %}">{{ expense.fund.title }}</a>
      </td>
      {% endif %}
      <td>
        {{ expense.get_status_display }}
        {% if fund.status == 'F' %}
        - contact <a href="claimants-management@software.ac.uk">claimants-management@software.ac.uk</a>
        if need
        {% endif %}
      </td>
      <td>
        £{{ expense.amount_claimed|floatformat:2 }}
      </td>
      <td>
        £{{ expense.amount_authorized_for_payment|floatformat:2 }}
      </td>
      <td>
        {% if user.is_staff %}
        <a class="icon" href="mailto:{{ expense.fund.claimant.email }}"><i class="fab fa-envelope" aria-hidden="true"></i></a>
        {% endif %}
        <a title="View" href="{% url 'expense_detail_relative' expense.fund.id expense.relative_number %}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
        {% if user.is_staff %}
        <a  title="Review" href="{% url 'expense_review_relative' expense.fund.id expense.relative_number %}"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></a>
        {% endif %}
        {% if user.is_staff or expense.status in "SC" %}
        <a  title="Edit" href="{% url 'expense_edit_relative' expense.fund.id expense.relative_number %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
        <a  title="Remove" href="{% url 'expense_remove_relative' expense.fund.id expense.relative_number %}?next={{ request.path }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
    {% if fund %}
    <tr>
      <td>
        <strong>Total</strong>
      </td>
      <td>
        -
      </td>
      <th>
        {{ fund.expenses_claimed }}
      </th>
      <th>
        {{ fund.expenses_authorized_for_payment }}
      </th>
    </tr>
    {% endif %}
    {% else %}
    <tr>
      <td
        {% if user.is_staff %}
        colspan="8"
        {% elif claimant and user == claimant.user or fund.claimant and user == fund.claimant.user %}
        colspan="6"
        {% else %}
        colspan="3"
        {% endif %}
        >
        <strong>No expense.</strong>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
