{% extends "lowfat/base.html" %}

{% block content %}
<h1>Expense Detail
  <span
  {% if expense.status in 'AF' %}
  class="label label-success"
  {% elif expense.status in 'UP' %}
  class="label label-danger"
  {% else %}
  class="label label-warning"
  {% endif %}
  >{{ expense.get_status_display }}</span>
  {% if user.is_staff %}
  <a title="Review" class="btn btn-default" href="{% url 'expense_review_relative' expense.fund.id expense.relative_number %}" role="button"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Review</a>
  {% endif %}
  {% if user.is_superuser or expense.status in "WSCP" %}
  <a title="Edit" class="btn btn-default" href="{% url 'expense_edit_relative' expense.fund.id expense.relative_number %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
  <a title="Remove" class="btn btn-default" href="{% url 'expense_remove_relative' expense.fund.id expense.relative_number %}?next={% url 'dashboard' %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</a>
  {% endif %}
</h1>
<object class="expense-review-pdf" data="{{ expense.claim.url }}" type="application/pdf">
  <p>You will need to download the <a href="{{ expense.claim.url }}">PDF file.</a></p>
</object>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Requester name</th>
            <td>{{ expense.fund.claimant.fullname }}</td>
        </tr>
        <tr>
            <th>Funding request title</th>
            <td>{{ expense.fund.title }}</td>
        </tr>
        <tr>
            <th>Amount Claimant</th>
            <td>£{{ expense.amount_claimed }}</td>
        </tr>
        <tr>
            <th>Amount authorized for payment</th>
            <td>£{{ expense.amount_authorized_for_payment }}</td>
        </tr>
        {% if expense.invoice %}
        <tr>
          <th>Invoice reference</th>
          <td>{{ expense.invoice_reference }}</td>
        </tr>
        {% endif %}
        {% if expense.advance_booking %}
        <tr>
          <th>Advance booking</th>
          <td>{{ expense.advance_bookinge }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Status</th>
            <td>{{ expense.get_status_display }}</td>
        </tr>
    </tbody>
</table>
{% include "lowfat/communication.html" %}
{% endblock %}
