{% extends "lowfat/base.html" %}

{% block content %}
<h1>Expense Detail (Funding Request ID: {{ expense.fund.id }})
  <span
  {% if expense.status in 'A' %}
  class="label label-success"
  {% else %}
  class="label label-warning"
  {% endif %}
  >{{ expense.get_status_display }}</span>
  {% if user.is_authenticated %}
  {% if user.is_staff %}
  <a title="Review" class="btn btn-secondary" href="{% url 'expense_review_relative' expense.fund.id expense.relative_number %}" role="button"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Review</a>
  {% endif %}
  {% if user.is_staff or expense.status in "SC" %}
  <a title="Edit" class="btn btn-secondary" href="{% url 'expense_edit_relative' expense.fund.id expense.relative_number %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
  <a title="Remove" class="btn btn-secondary" href="{% url 'expense_remove_relative' expense.fund.id expense.relative_number %}?next={% url 'dashboard' %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</a>
  {% endif %}
  {% endif %}
</h1>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Requester name</th>
            <td>
              {{ expense.fund.claimant.fullname_link|safe }}
              <a class="icon" href="mailto:{{ expense.fund.claimant.email }}">
                <i class="fas fa-envelope" aria-hidden="true"></i>
            </td>
        </tr>
        <tr>
            <th>Funding request title</th>
            <td>{{ expense.fund.title_link|safe }}</td>
        </tr>
        <tr>
            <th>Submitted date</th>
            <td>{{ expense.added }}</td>
        </tr>
        <tr>
            <th>Amount Claimant</th>
            <td>£{{ expense.amount_claimed }}</td>
        </tr>
        <tr>
            <th>Amount authorized for payment</th>
            <td>£{{ expense.amount_authorized_for_payment }}</td>
        </tr>
        {% if expense.invoice %}
        <tr>
          <th>Invoice reference</th>
          <td>{{ expense.invoice_reference }}</td>
        </tr>
        {% endif %}
        {% if expense.advance_booking %}
        <tr>
          <th>Advance booking</th>
          <td>{{ expense.advance_bookinge }}</td>
        </tr>
        {% endif %}
        <tr>
          <th>Blog post (Submitted/Requested)</th>
          <td>{{ expense.fund.total_of_blog_posts }}/{{ expense.fund.required_blog_posts }}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{ expense.get_status_display }}</td>
        </tr>

        {% if expense.claim %}
        <tr>
          <td><b>Claim form</b></td>
          <td>
            <a {% if user.is_authenticated %}
               href="{% url 'expense_claim_relative' expense.fund.id expense.relative_number %}"
               {% else %}
               href="{% url 'expense_claim_public' expense.access_token %}"
               {% endif %}>
              Download
              <i class="fas fa-file"></i>
            </a>
          </td>
        </tr>
        {% endif %}

        {% if expense.receipts %}
        <tr>
          <td><b>Receipts</b></td>
          <td>
            <a {% if user.is_authenticated %}
               href="{% url 'expense_receipts_relative' expense.fund.id expense.relative_number %}"
               {% else %}
               href="{% url 'expense_receipts_public' expense.access_token %}"
               {% endif %}>
              Download
              <i class="fas fa-file"></i>
            </a>
          </td>
        </tr>
        {% endif %}

        {% if user.is_authenticated %}
        <tr>
          <th>Append another PDF to receipts</th>
          <td>
            <form class="form-inline" action="/request/{{ expense.fund.id }}/expense/{{ expense.relative_number }}/append/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-control">
                <label for="pdf" class="visually-hidden">Append another PDF to receipts</label>
                <input type="file" id="pdf" name="pdf" required>
              </div>
              <button type="submit" class="btn btn-secondary">Add pages</button>
            </form>
          </td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% include "lowfat/communication.html" %}
{% endblock %}
