{% extends "lowfat/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<!-- Selectize -->
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap5.css' %}" />
{% endblock %}

{% block extra_js_body %}
<script src="{% static 'js/garlic.min.js' %}"></script>
<script src="{% static 'js/selectize.min.js' %}"></script>
<script>
$(document).ready(function() {
$(".select-single-item").selectize({
create: true,
sortField: 'text'
});
$(".select-many-item").selectize({
items: [],
maxItems: null,
});
});
</script>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<p class="p-2 bg-warning-subtle text-dark fw-semibold rounded">
    <i class="fa-solid fa-triangle-exclamation text-dark me-1"></i>
    <span class="visually-hidden">Important: </span>
    Fields marked with <span class="asteriskField">*</span> are required.</p>
<p> We support <a href="https://www.markdownguide.org/cheat-sheet/" target="_blank"> Markdown </a> on multi-line fields.</p>
<p>If you need any help please email us at <a href="mailto:fellows-management@software.ac.uk">fellows-management@software.ac.uk</a>.</p>
    {% if warning_message %}
<div class="alert alert-warning" role="alert">
  {{ warning_message }}
</div>
{% endif %}

{% crispy formset formset.helper %}
{% endblock %}
