{% extends "lowfat/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra_css %}
<!-- Selectize -->
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}" />
{% endblock %}

{% block extra_js_body %}
<script src="{% static 'js/garlic.min.js' %}"></script>
<script src="{% static 'js/selectize.min.js' %}"></script>
<script>
$(document).ready(function() {
$(".select-single-item").selectize({
create: true,
sortField: 'text'
});
console.log($(".select-many-item"));
$(".select-many-item").selectize({
items: [],
maxItems: null,
});
});
</script>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<p class="text-warning">Fields marked with <span class="asteriskField">*</span> are required.</p>
<p class="text-info">We support Markdown on multi-line fields.</p>
<p>If you need any help please email <a href="mailto:{{ config.FELLOWS_MANAGEMENT_EMAIL }}">us</a>.</p>
{% crispy formset formset.helper %}
{% endblock %}
