{% extends "lowfat/base.html" %}
{% load markdown %}

{% block content %}
<h1>Funding request
  <span
    {% if fund.status in 'AMF' %}
    class="label label-success"
    {% elif fund.status in 'R' %}
    class="label label-danger"
    {% else %}
    class="label label-warning"
    {% endif %}
    >{{ fund.get_status_display }}</span>
  {% if user.is_authenticated %}
  {% if user.is_staff %}
  <a title="Review" class="btn btn-default" href="{% url 'fund_review' fund.id %}" role="button"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Review</a>
  {% endif %}
  <a title="Edit" class="btn btn-default" href="{% url 'fund_edit' fund.id %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
  {% if user.is_staff or fund.status in "UP" %}
  <a title="Remove" class="btn btn-default" href="{% url 'fund_remove' fund.id %}?next={% url 'dashboard' %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</a>
  {% endif %}
  {% endif %}
</h1>
<h2>General Details</h1>
<table class="table table-bordered">
  <tbody>
    {% if user.is_staff %}
    <tr>
      <th>Claimant</th>
      <td>{{ fund.claimant.fullname }}</td>
    </tr>
    {% endif %}
    <tr>
      <th>Title</th>
      <td>{{ fund.title }}</td>
    </tr>
    <tr>
      <th>URL</th>
      {% if fund.url|length > 0 %}
      <td><a href="{{ fund.url }}">{{ fund.url }}</a></td>
      {% endif %}
    </tr>
    <tr>
      <th>Status</th>
      <td>
        {{ fund.get_status_display }}
        <span class="glyphicon glyphicon glyphicon-info-sign" title="{{ fund.status_help }}" aria-hidden="true"></span>
      </td>
    </tr>
    {% if user.is_staff %}
    <tr>
      <th>
        Activities tag
        <a href="/pages/guide/activities-tag/"><span class="glyphicon
                                                     glyphicon glyphicon-info-sign" title="More information about the tags." aria-hidden="true"></span>
      </th>
      <td>
        {% for tag in fund.activity.all %}
        <span class="label label-default">{{ tag.name }}</span>
        {% endfor %}
      </td>
    </tr>
    {% endif %}
    <tr>
      <th>Location</th>
      <td>{{ fund.city }}, {{ fund.get_country_display }}</td>
    </tr>
    <tr>
      <th>Start date</th>
      <td>{{ fund.start_date }}</td>
    </tr>
    <tr>
      <th>End date</th>
      <td>{{ fund.end_date }}</td>
    </tr>
    <tr>
      <th>Approved date</th>
      <td>
        {% if fund.status in 'AMF' %}
        {{ fund.approved }}
        {% elif fund.status in 'UP' %}
        Not approved yet.
        {% else %}
        Not approved.
        {% endif %}
      </td>
    </tr>
    {% if user.is_staff %}
    <tr>
      <th>
        Approver
      </th>
      <td>
        {{ fund.approver }}
      </td>
    </tr>
    {% endif %}
    {% if user.is_staff %}
    <tr>
      <th>Justication</th>
      <td>{{ fund.justification | markdown | safe }}</td>
    </tr>
    <tr>
      <th>Additional information</th>
      <td>{{ fund.additional_info | markdown | safe }}</td>
    </tr>
    {% endif %}
  </tbody>
</table>
<h2>Budget Summary</h2>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th><strong>Total</strong> budget request</th>
      <td>£{{ fund.budget_total|floatformat:2 }}</td>
    </tr>
    <tr>
      <th><strong>Total</strong> budget approve</th>
      <td>
        {% if fund.status in 'AMF' %}
        £{{ fund.budget_approved|floatformat:2 }}
        {% else %}
        £0.00
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>
<h2>Budget Details</h2>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Travel expenses</th>
      <td>£{{ fund.budget_request_travel|floatformat:2 }}</td>
    </tr>
    <tr>
      <th>Attendance fees</th>
      <td>£{{ fund.budget_request_attendance_fees|floatformat:2 }}</td>
    </tr>
    <tr>
      <th>Subsistence cost</th>
      <td>£{{ fund.budget_request_subsistence_cost|floatformat:2 }}</td>
    </tr>
    <tr>
      <th>Venue hire</th>
      <td>£{{ fund.budget_request_venue_hire|floatformat:2 }}</td>
    </tr>
    <tr>
      <th>Catering</th>
      <td>£{{ fund.budget_request_catering|floatformat:2 }}</td>
    </tr>
    <tr>
      <th>Others</th>
      <td>£{{ fund.budget_request_others|floatformat:2 }}</td>
    </tr>
  </tbody>
</table>
{% if fund.status in 'AF' or expenses or blogs %}
{% include 'lowfat/expenses.html' %}
{% include 'lowfat/blogs.html' %}
{% include "lowfat/communication.html" %}
{% endif %}
{% endblock %}
