{% load fund_edit_permissions %}
{% if user.is_staff %}
<ul class="nav nav-tabs">
  <li {% if funding_requests_status == 'UPAMRFCX' %}class="nav-item"{% endif %}>
    <a class="nav-link" href="?funding_requests=UPAMRFCX&expenses={{ expenses_status }}&blogs={{ blogs_status }}">All</a>
  </li>
  <li {% if funding_requests_status == 'UP' %}class="nav-item"{% endif %}>
    <a class="nav-link" href="?funding_requests=UP&expenses={{ expenses_status }}&blogs={{ blogs_status }}">Pending</a>
  </li>
  <li {% if funding_requests_status == 'AM' %}class="nav-item"{% endif %}>
    <a class="nav-link" href="?funding_requests=AM&expenses={{ expenses_status }}&blogs={{ blogs_status }}">Approved</a>
  </li>
  <li {% if funding_requests_status == 'R' %}class="nav-item"{% endif %}>
    <a class="nav-link" href="?funding_requests=R&expenses={{ expenses_status }}&blogs={{ blogs_status }}">Rejected</a>
  </li>
  <li {% if funding_requests_status == 'C' %}class="nav-item"{% endif %}>
    <a class="nav-link" href="?funding_requests=C&expenses={{ expenses_status }}&blogs={{ blogs_status }}">Cancelled</a>
  </li>
  <li {% if funding_requests_status == 'F' %}class="nav-item"{% endif %}>
    <a class="nav-link" href="?funding_requests=F&expenses={{ expenses_status }}&blogs={{ blogs_status }}">Archived</a>
  </li>
</ul>
{% endif %}
<table class="table table-bordered sortable">
  <tbody>
    <tr>
      {% if user.is_staff or claimant and user == claimant.user %}
      <th>
        ID
      </th>
      {% endif %}
      {% if user.is_staff %}
      <th>
        Fellow
      </th>
      {% endif %}
      {% if user.is_staff or claimant and user == claimant.user %}
      <th>
        Submitted date
      </th>
      {% endif %}
      <th>
        Title
      </th>
      <th>
        Start date
      </th>
      <th>
        End date
      </th>
      {% if user.is_staff or claimant and user == claimant.user %}
      <th>
        Status
      </th>
      <th>
        Amount Requested
      </th>
      <th>
        Amount Approved
      </th>          
      <th>
        Approved date
      </th>
      {% endif %}
      {% if user.is_staff or claimant and user == claimant.user %}
      <th>
        Actions
      </th>
      {% endif %}
    </tr>
    {% if funds %}
    {% for fund, blog in funds %}
    <tr
      {% if user.is_staff or claimant and user == claimant.user %}
      {% if fund.status in 'UR' %}
      class="table-danger"
      {% elif fund.status in 'P' %}
      class="table-warning"
      {% elif fund.status in 'AMF' %}
      class="table-success"
      {% elif fund.status in 'C' %}
      class="table-light"
      {% elif fund.status in 'X' %}
      class="table-dark"
      {% endif %}
      {% endif %}
      >
      {% if user.is_staff or claimant and user == claimant.user %}
      <td>{{fund.id}}</td>
      {% endif %}
      {% if user.is_staff %}
      <td>
        <a href="{% url 'fellow_slug' fund.claimant.slug %}">{{ fund.claimant.fullname }}</a>
      </td>
      {% endif %}    
      {% if user.is_staff or claimant and user == claimant.user %}
      <td  sorttable_customkey="{{ fund.added | date:'Ymd' }}">
        {{ fund.added | date:"d M Y"}}
      </td>
      {% endif %}
      <td>
        {% if user.is_staff %}
        <a title="Review" href="{% url "fund_review" fund.id %}">{{fund.title}}</a>
        {% if fund.url|length > 0 %}
        <a title="View website" href="{{fund.url}}"><span class="fa-solid fa-cloud" aria-hidden="true"></span></a>
        {% endif %}
        {% elif claimant and user == claimant.user %}
        <a href="{% url "fund_detail" fund.id %}">{{fund.title}}</a>
        {% if fund.url|length > 0 %}
        <a href="{{fund.url}}"><span class="fa-solid fa-eye" aria-hidden="true"></span></a>
        {% endif %}
        {% elif fund.url|length > 0 %}
        <a href="{{fund.url}}">{{fund.title}}</a>
        {% else %}
        {{fund.title}}
        {% endif %}
        {% if blog %}
        (
        {% for post in blog %}
        {% if post.published_url|length > 0 %}
        <a href="{{post.published_url}}">Blog post</a>
        {% endif %}
        {% if post.tweet_url|length > 0 %}
        <a class="icon" href="{{post.tweet_url}}">
          <i class="fab fa-twitter" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if not forloop.last %}
        ,
        {% endif %}
        {% endfor %}
        )
        {% endif %}
      </td>
      <td sorttable_customkey="{{ fund.start_date | date:'Ymd' }}">{{ fund.start_date | date:"d M Y"}}</td>
      <td sorttable_customkey="{{ fund.end_date | date:'Ymd' }}">{{fund.end_date | date:"d M Y"}}</td>
      {% if user.is_staff or claimant and user == claimant.user %}
      <td>
        {{ fund.get_status_display }}
        {% if fund.status == 'F' %}
        - contact <a href="fellows-management@software.ac.uk">fellows-management@software.ac.uk </a>
        if needed
        {% endif %}
      </td>
      <td>
        £{{ fund.budget_total|floatformat:2 }}
      </td>
      <td> 
      {% if fund.status in 'AMFCX' %}
          £{{ fund.budget_approved|floatformat:2 }}
          {% else %}
          N/A
          {% endif %}
      </td>    
<td {% if fund.status %} sorttable_customkey="{{ fund.approved | date:'Ymd' }}" {% endif %}>
        {% if fund.approved %}
            {{ fund.approved | date:"d M Y" }}
    {% elif fund.status in 'UP' %}
        Not approved yet.
    {% else %}
        None
    {% endif %}
</td>
      {% endif %}
      {% if user.is_authenticated %}
      <td>
        {% if user.is_staff %}
        <a title="Mail" class="icon" href="mailto:{{ fund.claimant.email }}"><i class="fas fa-envelope" aria-hidden="true"></i></a>
        {% endif %}
        <a title="View" href="{% url 'fund_detail' fund.id %}"><span class="fa-solid fa-eye" aria-hidden="true"></span></a>
        {% if user.is_staff %}
        <a title="Review" href="{% url 'fund_review' fund.id %}"><span class="fa-solid fa-check" aria-hidden="true"></span></a>
        {% endif %}
        {% comment %}{% if user.is_staff or fund.status in "UP" %}{% endcomment %}
          {% if user|can_edit_fund:fund %}
        <a title="Edit" href="{% url 'fund_edit' fund.id %}"><span class="fa-solid fa-edit" aria-hidden="true"></span></a>
        {% comment %} <a title="Remove" href="{% url 'fund_remove' fund.id %}?next={{ request.path }}"><span class="fa-solid fa-remove" aria-hidden="true"></span></a> {% endcomment %}
        {% endif %}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td
        {% if user.is_staff %}
        colspan="10"
        {% elif claimant and user == claimant.user %}
        colspan="8"
        {% else %}
        colspan="3"
        {% endif %}
        >
        <strong>No event.</strong>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
