{% if user.is_staff %}
<ul class="nav nav-tabs">
  <li role="presentation" {% if funding_requests_status == 'UPARF' %}class="active"{% endif %}>
    <a href="?funding_requests=UPARF&expenses={{ expenses_status }}&blogs={{ blogs_status }}">All</a>
  </li>
  <li role="presentation" {% if funding_requests_status == 'UP' %}class="active"{% endif %}>
    <a href="?funding_requests=UP&expenses={{ expenses_status }}&blogs={{ blogs_status }}">Pending</a>
  </li>
  <li role="presentation" {% if funding_requests_status == 'A' %}class="active"{% endif %}>
    <a href="?funding_requests=A&expenses={{ expenses_status }}&blogs={{ blogs_status }}">Approved</a>
  </li>
  <li role="presentation" {% if funding_requests_status == 'R' %}class="active"{% endif %}>
    <a href="?funding_requests=R&expenses={{ expenses_status }}&blogs={{ blogs_status }}">Rejected</a>
  </li>
  <li role="presentation" {% if funding_requests_status == 'F' %}class="active"{% endif %}>
    <a href="?funding_requests=F&expenses={{ expenses_status }}&blogs={{ blogs_status }}">Archived</a>
  </li>
</ul>
{% endif %}
<table class="table table-bordered sortable">
  <tbody>
    <tr>
      {% if user.is_staff or claimant and user == claimant.user %}
      <th>
        Submitted date
      </th>
      {% endif %}
      <th>
        Name
      </th>
      {% if user.is_staff %}
      <th>
        Fellow
      </th>
      {% endif %}
      <th>
        Start date
      </th>
      <th>
        End date
      </th>
      {% if user.is_staff or claimant and user == claimant.user %}
      <th>
        Status
      </th>
      <th>
        Approved date
      </th>
      {% endif %}
      {% if user.is_staff or claimant and user == claimant.user %}
      <th>
        Actions
      </th>
      {% endif %}
    </tr>
    {% if funds %}
    {% for fund, blog in funds %}
    <tr
      {% if user.is_staff or claimant and user == claimant.user %}
      {% if fund.status in 'URC' %}
      class="danger"
      {% elif fund.status in 'P' %}
      class="warning"
      {% elif fund.status in 'AF' %}
      class="success"
      {% endif %}
      {% endif %}
      >
      {% if user.is_staff or claimant and user == claimant.user %}
      <td  sorttable_customkey="{{ fund.added | date:'Ymd' }}">
        {{ fund.added }}
      </td>
      {% endif %}
      <td>
        {% if user.is_staff %}
        <a title="Review" href="{% url "fund_review" fund.id %}">{{fund.name}}</a>
        {% if fund.url|length > 0 %}
        <a title="View website" href="{{fund.url}}"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span></a>
        {% endif %}
        {% elif claimant and user == claimant.user %}
        <a href="{% url "fund_detail" fund.id %}">{{fund.name}}</a>
        {% if fund.url|length > 0 %}
        <a href="{{fund.url}}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
        {% endif %}
        {% elif fund.url|length > 0 %}
        <a href="{{fund.url}}">{{fund.name}}</a>
        {% else %}
        {{fund.name}}
        {% endif %}
        {% if blog %}
        (
        {% for post in blog %}
        {% if post.published_url|length > 0 %}
        <a href="{{post.published_url}}">Blog post</a>
        {% endif %}
        {% if post.tweet_url|length > 0 %}
        <a class="icon" href="{{post.tweet_url}}">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if not forloop.last %}
        ,
        {% endif %}
        {% endfor %}
        )
        {% endif %}
      </td>
      {% if user.is_staff %}
      <td>
        <a href="{% url 'fellow_slug' fund.claimant.slug %}">{{ fund.claimant.fullname }}</a>
      </td>
      {% endif %}
      <td sorttable_customkey="{{ fund.start_date | date:'Ymd' }}">{{ fund.start_date }}</td>
      <td sorttable_customkey="{{ fund.end_date | date:'Ymd' }}">{{fund.end_date}}</td>
      {% if user.is_staff or claimant and user == claimant.user %}
      <td>
        {{ fund.get_status_display }}
        {% if fund.status == 'F' %}
        - contact <a href="claimants-management@software.ac.uk">claimants-management@software.ac.uk</a>
        if need
        {% endif %}
      </td>
      <td {% if fund.status in 'AF' %} sorttable_customkey="{{ fund.approved | date:'Ymd' }}" {% endif %}>
        {% if fund.status in 'AF' %}
        {{ fund.approved }}
        {% endif %}
      </td>
      {% endif %}
      {% if user.is_authenticated %}
      <td>
        {% if user.is_staff %}
        <a class="icon" href="mailto:{{ fund.claimant.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        {% endif %}
        <a title="View" href="{% url 'fund_detail' fund.id %}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
        {% if user.is_staff %}
        <a title="Review" href="{% url 'fund_review' fund.id %}"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></a>
        {% endif %}
        {% if user.is_superuser or fund.status in "UP" %}
        <a title="Edit" href="{% url 'fund_edit' fund.id %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
        <a title="Remove" href="{% url 'fund_remove' fund.id %}?next={{ request.path }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        {% endif %}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td
        {% if user.is_staff %}
        colspan="8"
        {% elif claimant and user == claimant.user %}
        colspan="6"
        {% else %}
        colspan="3"
        {% endif %}
        >
        <strong>No event.</strong>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
