{% extends "lowfat/base.html" %}
{% load crispy_forms_tags %}
{% load markdown %}

{% block content %}
<h1>
  Funding Request #{{ fund.id }} Review 
  {% if user.is_staff %}
  <a title="View" class="btn btn-default" href="{% url 'fund_detail' fund.id %}" role="button"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View</a>
  <a title="Edit" class="btn btn-default" href="{% url 'fund_edit' fund.id %}" role="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
  <a title="Remove" class="btn btn-default" href="{% url 'fund_remove' fund.id %}" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</a>
  {% endif %}
</h1>
{% if fund.access_token %}
<div class="alert alert-warning">
  This funding request was made using the public form.
</div>
{% endif %}
<h2>General Details</h1>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Requester</th>
            <td>
              <a href="{% url 'fellow_slug' fund.claimant.slug %}">{{ fund.claimant.fullname }}</a>
              <a class="icon" href="mailto:{{ expense.fund.claimant.email }}">
                <i class="fas fa-envelope" aria-hidden="true"></i>
              </a>
            </td>
        </tr>
        <tr>
            <th>Title</th>
            <td><a href="{% url 'fund_detail' fund.id %}">{{ fund.title }}</a></td>
        </tr>
        <tr>
            <th>URL</th>
            {% if fund.url|length > 0 %}
            <td><a href="{{ fund.url }}">{{ fund.url }}</a></td>
            {% endif %}
        </tr>
        <tr>
            <th>Location</th>
	    <td>{{ fund.city }}, {{ fund.get_country_display }}</td>
        </tr>
        <tr>
            <th>Start date</th>
            <td>{{ fund.start_date }}</td>
        </tr>
        <tr>
            <th>End date</th>
            <td>{{ fund.end_date }}</td>
        </tr>
        <tr>
          <th>Justication</th>
          <td>{{ fund.justification | markdown | safe }}</td>
        </tr>
        <tr>
          <th>Success</th>
          <td>{{ fund.success_targeted | markdown | safe }}</td>
        </tr>
        <tr>
          <th>Additional information</th>
          <td>{{ fund.additional_info | markdown | safe }}</td>
        </tr>
    </tbody>
</table>
<div class="row">
  <div class="col-md-6">
<h2>Budget Summary</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Fellowship grant available</th>
            <td>£{{ fund.claimant.claimantship_available|floatformat:2 }}</td>
        </tr>
        <tr>
            <th><strong>Total</strong> budget request</th>
            <td>£{{ fund.budget_total|floatformat:2 }}</td>
        </tr>
    </tbody>
</table>
<h2>Budget Details</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Travel expenses</th>
            <td>£{{ fund.budget_request_travel|floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Attendance fees</th>
            <td>£{{ fund.budget_request_attendance_fees|floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Subsistence cost</th>
            <td>£{{ fund.budget_request_subsistence_cost|floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Venue hire</th>
            <td>£{{ fund.budget_request_venue_hire|floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Catering</th>
            <td>£{{ fund.budget_request_catering|floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Others</th>
            <td>£{{ fund.budget_request_others|floatformat:2 }}</td>
        </tr>
    </tbody>
</table>
{% include "lowfat/communication.html" %}
  </div>
  <div class="col-md-6"
       style="background:
       {% if fund.claimant.claimantship_available < fund.budget_total %}
       #fcf8e3
       {% else %}
       #dff0d8
       {% endif %}
  ;">
    <h2>Review</h2>
    {% crispy formset %}
  </div>
</div>
{% endblock %}
