BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//lowFAT/Software Sustainability Institute
{% for fund in funds %}
BEGIN:VEVENT
UID:lowFAT-fund-{{ fund.id }}
DTSTAMP:{{ fund.added|date:"Ymd" }}T{{ fund.added|date:"Hi" }}00Z
{% if fund.category == 'A' %}
CONTACT:CN={{ fund.claimant.fullname }}:MAILTO:{{ fund.claimant.email }}
{% elif fund.category == 'H' %}
ORGANIZER:CN={{ fund.claimant.fullname }}:MAILTO:{{ fund.claimant.email }}
{% endif %}
DTSTART:{{ fund.start_date|date:"Ymd" }}
DTEND:{{ fund.end_date|date:"Ymd" }}
SUMMARY:{{ fund.title }}
END:VEVENT
{% endfor %}
END:VCALENDAR
