{% extends "lowfat/base.html" %}

{% block content %}
<h1>Software Sustainability Institute Fellowship Programme</h1>
<h2>Fellows</h2>
<div class="container">
{% for claimant in claimants %}
{% if forloop.counter0|divisibleby:"6" %}
<div class="row">
{% endif %}
<div class="fellow col-md-2">
  <div class="ribbon fellows-{{ claimant.application_year | add:"1" }}">
    <span>{{ claimant.application_year | add:"1" }}</span>
  </div>
  <a href="{% url 'fellow_slug' claimant.slug %}">
    {% include 'lowfat/photo.html' %}
    <br>
    {{ claimant.fullname }}
  </a>
  <br>
  {% if user.is_superuser %}
  <a class="icon" href="mailto:{{ claimant.email }}">
    <i class="fa fa-envelope" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if claimant.institutional_website %}
  <a class="icon" href="{{ claimant.institutional_website }}">
    <i class="fa fa-cloud" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if claimant.website %}
  <a class="icon" href="{{ claimant.website }}">
    <i class="fa fa-cloud" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if claimant.website_feed %}
  <a class="icon" href="{{ claimant.website_feed }}">
    <i class="fa fa-rss" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if claimant.orcid %}
  <a class="icon" href="http://orcid.org/{{ claimant.orcid }}">
    <i class="ai ai-orcid" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if claimant.google_scholar %}
  <a class="icon" href="https://scholar.google.co.uk/citations?user={{ claimant.google_scholar }}">
    <i class="ai ai-google-scholar" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if claimant.github %}
  <a class="icon" href="http://github.com/{{ claimant.github }}">
    <i class="fa fa-github" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if claimant.gitlab %}
  <a class="icon" href="https://gitlab.com/{{ claimant.gitlab }}">
    <i class="fa fa-gitlab" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if claimant.twitter %}
  <a class="icon" href="https://twitter.com/{{ claimant.twitter }}">
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if claimant.linkedin %}
  <a class="icon" href="https://www.linkedin.com/in/{{ claimant.linkedin }}">
    <i class="fa fa-linkedin" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if claimant.facebook %}
  <a class="icon" href="https://facebook.com/{{ claimant.facebook }}">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  {% endif %}
  <a class="icon">
    <i class="fa fa-fw">&nbsp;</i>
  </a>
    {% if user.is_staff or user.is_superuser %}
    <br>
    £{{ claimant.claimantship_available|floatformat:2 }}
    {% endif %}
</div>
{% if forloop.counter|divisibleby:"6" %}
</div>
{% endif %}
{% endfor %}
<ul>
</div>

<h2>Events</h2>
<p>The following events will happen in the short future and have the support of at least one of the Institute fellows.</p>
{% include 'lowfat/funds.html' %}
<p>Check <a href="{% url 'fund_past' %}">previous events</a> also organized by Institute fellows.</p>
{% endblock %}
