{% extends "lowfat/base.html" %}
{% load static %}

{% block content %}
<h1>
  Promote claimant profile to fellow profile
</h1>
<table class="table table-bordered sortable">
  <tbody>
        <tr>
            <th>Fellow</th>
            <th>Name</th>
            <th>Application Year</th>
            <th>Actions</th>
        </tr>
    {% for claimant in claimants %}
        <tr>
          <td>
            {% if claimant.fellow %}
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            {% endif %}
            </td>
            <td>{{ claimant.fullname }}</td>
            <td>{{ claimant.application_year }}</td>
            <td>
              {% if claimant.fellow %}
              <a href="{% url 'fellow_demote'  claimant.id %}">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              </a>
              {% else %}
              <a href="{% url 'fellow_promote'  claimant.id %}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </a>
              {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
