{% extends "lowfat/base.html" %}
{% load staticfiles %}

{% block content %}
<h1>
  Promote Claimant
</h1>
<table class="table table-bordered sortable">
  <tbody>
        <tr>
            <th>Status</th>
            <th>Name</th>
            <th>Application Year</th>
            <th>Actions</th>
        </tr>
    {% for claimant in claimants %}
        <tr>
          <td>
            {% if claimant.selected %}
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {% endif %}
            </td>
            <td>{{ claimant.fullname }}</td>
            <td>{{ claimant.application_year }}</td>
            <td>
              <a href="{% url 'fellow_promote'  claimant.id %}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
