{% extends "lowfat/base.html" %}

{% block content %}
<h1>Recent Actions</h1>
<table class="table table-striped table-hover">
  <body>
    <tr>
      <th>Time</th>
      <th>User</th>
      <th>Action</th>
      <th>Database Entry</th>
    </tr>
    {% for action in actions %}
    <tr>
      <td>
        {{action.history_date}}
      </td>
      <td>
        {{action.history_user}}
      </td>
      <td>
        {{action.get_history_type_display}}
      </td>
      <td>
        <a href="{{action.history_object.link_review}}">{{action.history_object}}</a>
      </td>
    </tr>
    {% endfor %}
  </body>
</table>
<nav aria-label="Page navigation">
  <ul class="pager">
    <li class="previous {% if not actions.has_previous %}disabled{% endif %}">
      <a href="{% if actions.has_previous %}?page={{ actions.previous_page_number }}{% endif %}"><span aria-hidden="true">&larr;</span> Previous</a>
    </li>
    <span class="current">
      Page {{ actions.number }} of {{ actions.paginator.num_pages }}
    </span>
    <li class="next {% if not actions.has_next %}disabled{% endif %}">
      <a href="{% if actions.has_next %}?page={{ actions.next_page_number }}{% endif %}">Newer <span aria-hidden="true">&rarr;</span></a>
    </li>
  </ul>
</nav>
{% endblock %}
