{% extends "lowfat/base.html" %}

{% block content %}
<h1>Report</h1>
<p>
  This is a <strong>work in progress</strong>,
  and if there are any charts you would like to see
  please raise them as tickets in
  <a href="{{ settings.URL_SRC }}/issues/">{{ settings.URL_SRC }}/issues/</a>.
</p>
<h2>Summary</h2>
<table class="table table-striped table-bordered">
  <tr>
    <th>Number of years of the programme</th>
    <td>{{ summary.years }}</td>
  </tr>
  <tr>
    <th>Number of Fellows</th>
    <td>{{ summary.fellows }}</td>
  </tr>
  <tr>
    <th>Number of organisations</th>
    <td>{{ summary.organisations }}</td>
  </tr>
  <tr>
    <th>Number of research disciplines</th>
    <td>{{ summary.disciplines }}</td>
  </tr>
</table>
<h2>Fellows</h2>
<img src="data:image/png;base64,{{ claimants_per_year | safe }}" />
<h2>Funding requests</h2>
<img src="data:image/png;base64,{{ fund_amount | safe }}" />
<h2>Finances</h2>
<h3>Summary</h3>
<table class="table table-striped table-bordered">
  <tr>
    <th>Description</th>
    <th>Amount</th>
  </tr>
  <tr>
    <td>Total amount of expenditure</td>
    <td>{{ finances.total }}</td>
  </tr>
</table>
<h3>Data</h3>
<p>
  <a
    download="lowfat-finances-data.csv"
    href="data:application/octet-stream;charset=utf-16le;base64,{{ finances.csv | safe }}">
    Download the full data as CSV.
  </a>
</p>
{{ finances.html | safe }}
{% endblock %}
