{% extends "lowfat/base.html" %}

{% block content %}
<h1>Reports</h1>
<ul id="report-nav" class="nav nav-tabs">
  {% for notebook_filename in notebook_filenames %}
  <li
    role="presentation"
    data-filename="{{ notebook_filename }}"
    >
    <a href="#">{{ notebook_filename }}</a>
  </li>
  {% endfor %}
</ul>

<article id="report">
</article>

<script>
  reset_report_nav = function() {
      var report_nav = document.getElementById("report-nav");
      for (report of report_nav.children) {
          report.classList.remove("active");
      }
  }

  update_report = function() {
      var report = this.dataset.filename;
      var report_here = document.getElementById("report");

      report_here.classList.add("loader");

      reset_report_nav();
      this.classList.add("active");

      var xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function() {
          var report_here = document.getElementById("report");
          report_here.classList.remove("loader");
          if (this.readyState == 4 && this.status == 200) {
              report_here.innerHTML = this.responseText;
          }
          else if (this.readyState == 4) {
              report_here.innerHTML = this.status;
          }
      }
      xmlHttp.open("GET", report);
      xmlHttp.send(null);
  }

  var report_nav = document.getElementById("report-nav");
  for (report of report_nav.children) {
      report.addEventListener("click", update_report);
  }
  report_nav.children[0].click();
</script>
{% endblock %}
