{% extends "lowfat/base.html" %}

{% block content %}
<h1>Software Sustainability Institute Fellowship Programme</h1>
<p>Some handlers to help with stuffs.</p>
<h2>Community</h2>
<div class="row">
  <div class="col-md-4">
    <a role="button" class="btn btn-default btn-block" href="{% url 'fund' %}">Make a funding request</a>
  </div>
  <div class="col-md-4">
    <a role="button" class="btn btn-default btn-block" href="{% url 'expense' %}">Submit expense claim</a>
  </div>
  <div class="col-md-4">
    <a role="button" class="btn btn-default btn-block" href="{% url 'blog' %}">Submit a blog post</a>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <a role="button" class="btn btn-default btn-block" href="{% url 'claimant' %}">Create claimant profile</a>
  </div>
  <div class="col-md-4">
    <a role="button" class="btn btn-default btn-block" href="{% url 'promote' %}">Upgrade claimant profile to fellow profile</a>
  </div>
  <div class="col-md-4">
    <a role="button" class="btn btn-default btn-block" href="{% url 'report' %}">View summary report of events <strong>(Work in progress)</strong></a>
  </div>
</div>
<h2>Communications</h2>
<script>
  /* From https://stackoverflow.com/a/21442321/1802726 */
  function clickAndDisable(link) {
      link.download='photos-' + Date.now() + '.zip';
      link.onclick = function(event) {
          event.preventDefault();
      }
      link.classList.add("disabled");
  }
</script>
<div class="row">
  <div class="col-md-4">
    <a onclick="clickAndDisable(this);"
       class="btn btn-default btn-block"
       href="{% url 'get_fellows_photos' %}"
       role="button"
       download>
      Get photos of Fellows
    </a>
  </div>
</div>
<h2>Training</h2>
<h2>Software</h2>
{% endblock %}
