body {
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

pre, code, pre code {
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 0.85em;
}

.highlight {
    background-color: #f9f9f9;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}

#header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

#header a:hover {
    text-decoration: none;
}

#footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}

#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}


#navigation {
    font-size: 0.9em;
}

#navigation li a {
    padding-left: 10px;
    padding-right: 10px;
}

#navigation .nav-header {
    padding-left: 0;
    padding-right: 0;
}

body.rtl {
	direction: rtl;
}

body.rtl #header .brand {
	float: right;
    margin-left: 5px;
}
body.rtl .row-fluid [class*="span"] {
	float: right !important;
	margin-left: 0;
	margin-right: 2.564102564102564%;
}
body.rtl .row-fluid [class*="span"]:first-child {
	margin-right: 0;
}

body.rtl ul, body.rtl ol {
    margin: 0 25px 10px 0;
}

table {
  margin-bottom: 1rem;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

.box-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    border-radius: 4px;
    border: 1px solid transparent;
    color: #8a6d3b;
    margin-bottom: 20px;
    padding: 15px;
}

.money-bar-graph {
  width: 100%;
  height: 38px;
  color: white;
  margin-bottom: 20px;
}

.money-used,
.money-reserved,
.money-available,
.money-passed {
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    float: left;
    font-weight: bold;
    font-family: arial, sans-serif;
    padding: 10px;
}

.money-used:first-child,
.money-reserved:first-child,
.money-available:first-child,
.money-passed:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.money-used:last-child,
.money-reserved:last-child,
.money-available:last-child,
.money-passed:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

/* Based on Kaktos Color Palette, https://www.color-hex.com/color-palette/73689 */
.money-used {
    background: #d21f1f;
}

.money-reserved {
    background: #d8910a;
}

.money-available {
    background: #29872f;
}

.money-passed {
    background: black;
}
