{% extends "fat/base.html" %}

{% block content %}
<h1>Blog Review</h1>
<iframe class="blog-review-html" src="{{ blog.draft_url }}">
</iframe>

<div class="row">
  <div class="col-md-6">
    <h2>Event</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Fellow</th>
            <td>{{ blog.event.fellow.forenames }} {{ blog.event.fellow.surname }}</td>
        </tr>
        <tr>
            <th>Event</th>
            <td>{{ blog.event.name }}</td>
        </tr>
    </tbody>
</table>
  </div>
  <div class="col-md-6">
<h2>Expenses</h2>
<form method="post" action="">
    {% csrf_token %}
    <table>
    {{ formset.as_table }}
    </table>
    <input type="submit" value="{{ submit_text }}" />
</form>
  </div>
</div>
{% endblock %}
