{% extends "fat/base.html" %}

{% block content %}
<h1>Blog Detail
  {% if user.is_superuser %}
  <a class="btn btn-default" href="{% url 'blog_review' blog.id %}" role="button">Review</a>
  {% endif %}
</h1>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Fellow Name</th>
            <td>
              <a href="{% url 'fellow_detail' blog.event.fellow.id %}">
              {{ blog.event.fellow.fullname }}
              </a>
            </td>
        </tr>
        <tr>
            <th>Event Name</th>
            <td>
              <a href="{% url 'event_detail' blog.event.id %}">
                {{ blog.event.name }}
              </a>
            </td>
        </tr>
        <tr>
            <th>Draft URL</th>
            <td><a href="{{ blog.draft_url }}">{{ blog.draft_url }}</a></td>
        </tr>
        <tr>
          <th>Published URL</th>
          {% if blog.published_url %}
            <td><a href="{{ blog.published_url }}">{{ event.published_url }}</a></td>
            {% else %}
          <td></td>
          {% endif %}
        </tr>
        <tr>
          <th>Tweet URL</th>
          {% if blog.tweet_url %}
            <td><a href="{{ blog.tweet_url }}">{{ blog.tweet_url }}</a></td>
          {% else %}
          <td></td>
          {% endif %}
        </tr>
    </tbody>
</table>
{% endblock %}
