<table class="table table-bordered sortable">
  <tbody>
    <tr>
      <th>
        Blog
      </th>
      <th>
        Status
      </th>
      {% if user.is_superuser or claimant and user == claimant.user %}
      <th>
        Submited date
      </th>
      <th>
        Pulished date
      </th>
      {% endif %}
    </tr>
    {% for blog in blogs %}
    <tr
       {% if blog.status in 'U' %}
       class="danger"
       {% elif blog.status in 'R' %}
       class="warning"
       {% elif blog.status in 'LPDO' %}
       class="sucess"
       {% endif %}
       >
      <td>
        {% if user.is_superuser %}
        <a href="{% url 'blog_review' blog.id %}">{{ blog.draft_url }}</a>
        {% else %}
        <a href="{{ blog.draft_url }}">{{ blog.draft_url }}</a>
        {% endif %}
      </td>
      <td>
        {{ blog.get_status_display }}
      </td>
      {% if user.is_superuser or claimant and user == claimant.user %}
      <td>
        {{ blog.added|date:"SHORT_DATE_FORMAT" }}
      </td>
      <td>
        {% if blog.published_url|length > 0 %}
        {{ blog.updated|date:"SHORT_DATE_FORMAT" }}
        {% else %}
        <strong>Unpublished</strong>
        {% endif %}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
