{% extends "fat/base.html" %}
{% load staticfiles %}

{% block content %}
<h1>
  {% if claimed.selected %}
  Fellow
  {% else %}
  Claimed
  {% endif %}
  Detail
  {% if user == claimed.user %}
  <a class="btn btn-default" href="{% url 'claimed' %}" role="button">Edit</a>
  {% endif %}
  {% if user.is_superuser %}
  <a class="btn btn-default" href="{% url 'admin:fat_claimed_change' claimed.id %}" role="button">Edit</a>
  {% endif %}
</h1>
<div class="row">
<div class="fellow col-md-2">
  {% include 'fat/photo.html' %}
</div>
<div class="fellow col-md-10">
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ claimed.fullname }}</td>
        </tr>
        <tr>
            <th>Affiliation</th>
            <td>{{ claimed.affiliation }}</td>
        </tr>
        <tr>
            <th>Research area code</th>
            <td>{{ claimed.get_research_area_code_display }}</td>
        </tr>
        {% if claimed.selected %}
        <tr>
            <th>Fellowship Inauguration Year</th>
            <td>{{ claimed.application_year|add:"1" }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>
</div>
{% if show_finances %}
{% include 'fat/finances.html' %}
{% include 'fat/expenses.html' %}
{% endif %}
<h2>Events</h2>
{% include 'fat/funds.html' %}
{% endblock %}
