{% extends "fat/base.html" %}

{% block content %}
{% if user.is_superuser %}
<h1>Software Sustainability Institute Fellowship Program - Admin</h1>
{% else %}
<h1>Software Sustainability Institute Fellowship Program</h1>
{% endif %}
<p>If you need us to process something please use one of the links bellow:</p>
<ul>
    {% if user.is_superuser %}
    <li><a href="{% url 'fellow' %}">Create fellow profile</a></li>
    {% endif %}
    <li><a href="{% url 'fund' %}">Request funding support</a></li>
    <li><a href="{% url 'blog' %}">Submit a blog post</a></li>
    <li><a href="{% url 'expense' %}">Claim expense</a></li>
</ul>
{% if user.is_superuser %}
<p>You can edit the information on the database <a href="{% url 'admin:index' %}">here</a>.</p>
{% else %}
<p>If you need any help please email <a href="">us</a>.</p>
{% endif %}
{% if user.is_authenticated %}
{% if user.is_superuser %}
<p>Your pending tasks are:</p>
<h2>
  Funds
  <a class="btn btn-default" href="{% url 'blog' %}">New fund</a>
</h2>
{% if funds %}
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>
        Date
      </th>
      <th>
        Name
      </th>
      <th>
        Status
      </th>
      <th>
        Actions
      </th>
    </tr>
    {% for fund in funds %}
    <tr>
      <td>{{ fund.added }}</td>
      <td>
        <a href="{% url 'fund_review' fund.id %}">{{ fund.name }}</a>
        from <a href="{% url 'fellow_detail' fund.fellow.id %}">{{ fund.fellow.fullname }}</a>
      </td>
      <td>
        {{ fund.get_status_display }}
      </td>
      <td>
        <a href="{% url 'fund_review' fund.id %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<h2>
  Expenses
 <a class="btn btn-default" href="{% url 'expense' %}">New expense</a>
</h2>
{% if expenses %}
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>
        Date
      </th>
      <th>
        Name
      </th>
      <th>
        Status
      </th>
      <th>
        Actions
      </th>
    </tr>
    {% for expense in expenses %}
    <tr>
      <td>{{ expense.added }}</td>
      <td>
        <a href="{% url 'expense_review' expense.id %}">{{ expense.claim }}</a>
        from <a href="{% url 'fellow_detail' expense.fund.fellow.id %}">{{ expense.fund.fellow.fullname }}</a>
        for <a href="{% url 'fund_detail' expense.fund.id %}">{{ expense.fund.name }}</a>
      </td>
      <td>
        {{ expense.get_status_display }}
      </td>
      <td>
        <a href="{% url 'expense_review' expense.id %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<h2>
  Blogs
  <a class="btn btn-default" href="{% url 'blog' %}">New blog</a>
</h2>
{% if blogs %}
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>
        Date
      </th>
      <th>
        Name
      </th>
      <th>
        Status
      </th>
      <th>
        Actions
      </th>
    </tr>
    {% for blog in blogs %}
    <tr>
      <td>{{ blog.added }}</td>
      <td>
        <a href="{% url 'blog_review' blog.id %}">{{ blog.draft_url }}</a> from
        <a href="{% url 'fund_detail' blog.fund.id %}">{{ blog.fund.name }}</a>
      </td>
      <td>
        {{ blog.get_status_display }}
      </td>
      <td>
        <a href="{% url 'blog_review' blog.id %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% else %}
{% include 'fat/finances.html' %}
<h2>
  Funds
  <a class="btn btn-default" href="{% url 'fund' %}">New fund</a>
</h2>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>
        Fund
      </th>
      <th>
        Status
      </th>
    </tr>
    {% for fund in funds %}
    <tr
       {% if fund.status in 'U' %}
       class="danger"
       {% elif fund.status in 'P' %}
       class="warning"
       {% elif fund.status in 'AR' %}
       class="sucess"
       {% endif %}
       >
      <td>
        <a href="{% url 'fund_detail' fund.id %}">{{ fund.name }}</a>
      </td>
      <td>
        {{ fund.get_status_display }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}
{% endblock %}
