<h2>
  Expenses
  {% if fund %}
  {% if fund.status not in "RF" %}
 <a class="btn btn-default" href="{% url 'expense' %}{% if fund %}?fund_id={{fund.id}}{% endif %}">Submit expense claim</a>
 {% endif %}
 {% else %}
 <a class="btn btn-default" href="{% url 'expense' %}}">Submit expense claim</a>
 {% endif %}
</h2>
<table class="table table-bordered sortable">
  <tbody>
    <tr>
      <th>
        Claim
      </th>
      <th>
        Status
      </th>
      <th>
        Amount claimed
      </th>
      <th>
        Amount authorized for payment
      </th>
    </tr>
    {% for expense in expenses %}
    <tr
       {% if expense.status in 'WS' %}
       class="danger"
       {% elif expense.status in 'P' %}
       class="warning"
       {% elif expense.status in 'AF' %}
       class="sucess"
       {% endif %}
       >
      <td>
        {% if expense.claim %}
        <a
          {% if user.is_superuser %}
          href="{% url 'expense_review_relative' expense.fund.id expense.relative_number %}"
          {% else %}
          <a href="{% url 'expense_detail_relative' expense.fund.id expense.relative_number %}"
        {% endif %}
        >{{ expense.fund.name }} #{{ expense.relative_number }}</a>
        {% else %}
        Missing claim of expense
        {% endif %}
      </td>
      <td>
        {{ expense.get_status_display }}
        {% if fund.status == 'F' %}
        - contact <a href="claimeds-management@software.ac.uk">claimeds-management@software.ac.uk</a>
        if need
        {% endif %}
      </td>
      <td>
        {{ expense.amount_claimed }}
      </td>
      <td>
        {{ expense.amount_authorized_for_payment }}
      </td>
    </tr>
    {% endfor %}
    {% if fund %}
    <tr>
      <td>
        <strong>Total</strong>
      </td>
      <td>
        -
      </td>
      <th>
        {{ fund.expenses_claimed }}
      </th>
      <th>
        {{ fund.expenses_authorized_for_payment }}
      </th>
    </tr>
   {% endif %}
  </tbody>
</table>
