{% extends "fat/base.html" %}

{% block content %}
<h1>Expense Detail
  {% if user.is_superuser %}
  <a class="btn btn-default" href="{% url 'expense_review' expense.id %}" role="button">Review</a>
  {% endif %}
</h1>
<object class="expense-review-pdf" data="{{ expense.claim.url }}" type="application/pdf">
  <p>You will need to download the <a href="{{ expense.claim.url }}">PDF file.</a></p>
</object>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Fellow</th>
            <td>{{ expense.event.fellow.forenames }} {{ expense.event.fellow.surname }}</td>
        </tr>
        <tr>
            <th>Event</th>
            <td>{{ expense.event.name }}</td>
        </tr>
        <tr>
            <th>Amount Claimed</th>
            <td>{{ expense.amount_claimed }}</td>
        </tr>
        <tr>
            <th>Amount authorized for payment</th>
            <td>{{ expense.amount_authorized_for_payment }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ expense.get_status_display }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
