<h2>Finances</h2>
<table class="table table-bordered">
  <tbody>
  <tr>
    <th>Grant</th>
    <td>£{{ claimed.claimedship_grant }}</td>
  </tr>
  <tr>
    <th>Available</th>
    <td>£{{ claimed.claimedship_available }}</td>
  </tr>
  <tr>
    <th>Committed</th>
    <td>£{{ claimed.claimedship_committed }}</td>
  </tr>
  <tr>
    <th>Spent</th>
    <td>£{{ claimed.claimedship_spent }}</td>
  <tr>
    <th>Remaining to claim</th>
    <td>£{{ claimed.claimedship_remaining }}</td>
  </tr>
  <tr>
  </tbody>
</table>
