<h2>Finances</h2>
<table class="table table-bordered">
  <tbody>
  <tr>
    <th>Grant</th>
    <td>£{{ claimant.claimantship_grant }}</td>
  </tr>
  <tr>
    <th>Available</th>
    <td>£{{ claimant.claimantship_available }}</td>
  </tr>
  <tr>
    <th>Committed</th>
    <td>£{{ claimant.claimantship_committed }}</td>
  </tr>
  <tr>
    <th>Spent</th>
    <td>£{{ claimant.claimantship_spent }}</td>
  <tr>
    <th>Remaining to claim</th>
    <td>£{{ claimant.claimantship_remaining }}</td>
  </tr>
  <tr>
  </tbody>
</table>
