{% if funds %}
<table class="table table-bordered sortable">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Start date</th>
            <th>End date</th>
        </tr>
{% for fund, blog in funds %}
<tr>
  <td>
    {% if user.is_superuser or claimant and user == claimant.user %}
    <a href="{% url "fund_detail" fund.id %}">{{fund.name}}</a> <a href="{{fund.url}}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
    {% elif fund.url %}
    <a href="{{fund.url}}">{{fund.name}}</a>
    {% else %}
    {{fund.name}}
    {% endif %}
    {% if blog %}
    (
    {% for post in blog %}
    <a href="{{post.published_url}}">Blog post</a>
    {% if post.tweet_url %}
    <a class="icon" href="{{post.tweet_url}}">
    <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    {% endif %}
    {% if not forloop.last %}
    ,
    {% endif %}
    {% endfor %}
    )
    {% endif %}
  </td>
    <td>{{fund.start_date}}</td>
    <td>{{fund.end_date}}</td>
</tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p><strong>No events.</strong></p>
{% endif %}
