{% extends "fat/base.html" %}
{% load markdown %}

{% block content %}
<h1>Funding request
  <span
  {% if fund.status in 'AF' %}
  class="label label-success"
  {% elif fund.status in 'R' %}
  class="label label-danger"
  {% else %}
  class="label label-warning"
  {% endif %}
  >{{ fund.get_status_display }}</span>
  {% if user.is_superuser %}
  <a class="btn btn-default" href="{% url 'fund_review' fund.id %}" role="button">Review</a>
  {% endif %}
</h1>
<h2>General Details</h1>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ fund.name }}</td>
        </tr>
        <tr>
            <th>URL</th>
            {% if fund.url|length > 0 %}
            <td><a href="{{ fund.url }}">{{ fund.url }}</a></td>
            {% endif %}
        </tr>
        <tr>
            <th>Status</th>
            <td>
              {{ fund.get_status_display }}
              <span class="glyphicon glyphicon glyphicon-info-sign" title="{{ fund.status_help }}" aria-hidden="true"></span>
            </td>
        </tr>
        <tr>
            <th>Start date</th>
            <td>{{ fund.start_date|date:"SHORT_DATE_FORMAT" }}</td>
        </tr>
        <tr>
            <th>End data</th>
            <td>{{ fund.end_date|date:"SHORT_DATE_FORMAT" }}</td>
        </tr>
        {% if user.is_superuser %}
        <tr>
          <th>Justication</th>
          <td>{{ fund.justification | markdown | safe }}</td>
        </tr>
        <tr>
          <th>Additional information</th>
          <td>{{ fund.additional_info | markdown | safe }}</td>
        </tr>
  {% endif %}
    </tbody>
</table>
{% if fund.status in 'AF' or expenses or blogs %}
<h2>Budget Summary</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th><strong>Total</strong> budget request</th>
            <td>£{{ fund.budget_total }}</td>
        </tr>
        <tr>
            <th><strong>Total</strong> budget approve</th>
            <td>
              {% if fund.status in 'AF' %}
              £{{ fund.budget_approved }}
              {% else %}
              £0.00
              {% endif %}
            </td>
        </tr>
    </tbody>
</table>
<h2>Budget Details</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Travel expenses</th>
            <td>£{{ fund.budget_request_travel }}</td>
        </tr>
        <tr>
            <th>Attendance fees</th>
            <td>£{{ fund.budget_request_attendance_fees }}</td>
        </tr>
        <tr>
            <th>Subsistence cost</th>
            <td>£{{ fund.budget_request_subsistence_cost }}</td>
        </tr>
        <tr>
            <th>Venue hire</th>
            <td>£{{ fund.budget_request_venue_hire }}</td>
        </tr>
        <tr>
            <th>Catering</th>
            <td>£{{ fund.budget_request_catering }}</td>
        </tr>
        <tr>
            <th>Others</th>
            <td>£{{ fund.budget_request_others }}</td>
        </tr>
    </tbody>
</table>
{% include 'fat/expenses.html' %}
<h2>
  Blogs
  <a class="btn btn-default" href="{% url 'blog' %}?fund_id={{fund.id}}">Submit a blog post</a>
</h2>
<p><strong>This fund requires {{ fund.required_blog_posts }} blog posts.</strong></p>
<table class="table table-bordered sortable">
  <tbody>
    <tr>
      <th>
        Blog
      </th>
      <th>
        Status
      </th>
    </tr>
    {% for blog in blogs %}
    <tr
       {% if blog.status in 'U' %}
       class="danger"
       {% elif blog.status in 'R' %}
       class="warning"
       {% elif blog.status in 'LPDO' %}
       class="sucess"
       {% endif %}
       >
      <td>
        {% if user.is_superuser %}
        <a href="{% url 'blog_review' blog.id %}">{{ blog.draft_url }}</a>
        {% else %}
        <a href="{{ blog.draft_url }}">{{ blog.draft_url }}</a>
        {% endif %}
      </td>
      <td>
        {{ blog.get_status_display }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include "fat/communication.html" %}
{% endif %}
{% endblock %}
