{% extends "fat/base.html" %}

{% block content %}
<h1>Software Sustainability Institute Fellowship Programme</h1>
<h2>Fellows</h2>
<div class="container">
<ul class="list-group row">
{% for fellow in fellows %}
<li class="list-group-item col-xs-3">
  <div class="ribbon">
    <span>{{ fellow.application_year }}</span>
  </div>
  <a href="{% url 'fellow_detail' fellow.id %}">
    {% include 'fat/photo.html' %}
    <br>
    {{ fellow.fullname }}
  </a>
  <br>
  {% if fellow.website %}
  <a href="{{ fellow.website }}"<span class="svg-icon dribble"></span></a>
  {% endif %}
  {% if fellow.orcid %}
  <a href="http://orcid.org/{{ fellow.orcid }}"<span class="svg-icon orcid"></span></a>
  {% endif %}
  {% if fellow.github %}
  <a href="http://github.com/{{ fellow.github }}"<span class="svg-icon github"></span></a>
  {% endif %}
  {% if fellow.gitlab %}
  <a href="https://gitlab.com/{{ fellow.gitlab }}"<span class="svg-icon gitlab"></span></a>
  {% endif %}
  {% if fellow.twitter %}
  <a href="https://twitter.com/{{ fellow.twitter }}"<span class="svg-icon twitter"></span></a>
  {% endif %}
  {% if fellow.facebook %}
  <a href="https://facebook.com/{{ fellow.facebook }}"<span class="svg-icon facebook"></span></a>
  {% endif %}
    {% if show_grant_available %}
    <br>
    £{{ fellow.fellowship_available }}
    {% endif %}
</li>
{% endfor %}
<ul>
</div>

<h2>Funds</h2>
<p>The following funds will happen in the short future and have the support of at least one of the Institute fellows.</p>
{% include 'fat/funds.html' %}
<p>Check <a href="{% url 'fund_past' %}">previous funds</a> also organized by Institute fellows.</p>
{% endblock %}
