{% extends "fat/base.html" %}

{% block content %}
<h1>Software Sustainability Institute Fellowship Programme</h1>
<h2>Fellows</h2>
<div class="container">
{% for claimed in claimeds %}
{% if forloop.counter0|divisibleby:"6" %}
<div class="row">
{% endif %}
<div class="fellow col-md-2">
  <div class="ribbon fellows-{{ claimed.application_year | add:"1" }}">
    <span>{{ claimed.application_year | add:"1" }}</span>
  </div>
  <a href="{% url 'claimed_detail' claimed.id %}">
    {% include 'fat/photo.html' %}
    <br>
    {{ claimed.fullname }}
  </a>
  <br>
  {% if claimed.website %}
  <a class="icon" href="{{ claimed.website }}">
    <i class="fa fa-cloud" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if claimed.website_feed %}
  <a class="icon" href="{{ claimed.website_feed }}">
    <i class="fa fa-rss" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if claimed.orcid %}
  <a class="icon" href="http://orcid.org/{{ claimed.orcid }}">
    <i class="ai ai-orcid" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if claimed.github %}
  <a class="icon" href="http://github.com/{{ claimed.github }}">
    <i class="fa fa-github" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if claimed.gitlab %}
  <a class="icon" href="https://gitlab.com/{{ claimed.gitlab }}">
    <i class="fa fa-gitlab" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if claimed.twitter %}
  <a class="icon" href="https://twitter.com/{{ claimed.twitter }}">
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% if claimed.facebook %}
  <a class="icon" href="https://facebook.com/{{ claimed.facebook }}">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  {% endif %}
  <a class="icon">
    <i class="fa fa-fw">&nbsp;</i>
  </a>
    {% if show_grant_available %}
    <br>
    £{{ claimed.claimedship_available }}
    {% endif %}
</div>
{% if forloop.counter|divisibleby:"6" %}
</div>
{% endif %}
{% endfor %}
<ul>
</div>

<h2>Events</h2>
<p>The following events will happen in the short future and have the support of at least one of the Institute fellows.</p>
{% include 'fat/funds.html' %}
<p>Check <a href="{% url 'fund_past' %}">previous funds</a> also organized by Institute claimeds.</p>
{% endblock %}
