{% extends "fat/base.html" %}

{% block extra_css %}
<link 
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css"
    rel="stylesheet" type="text/css">
{% endblock %}

{% block extra_js %}
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.js"></script>
{% endblock %}

{% block content %}
<h1>Report</h1>
<p>
  This is a <strong>work in progress</strong>,
  and if there are any charts you would like to see
  please raise them as tickets in
  <a href="{{ settings.URL_SRC }}/issues/">{{ settings.URL_SRC }}/issues/</a>.
</p>
<h2>Claimeds</h2>
{{ claimeds_per_year | safe }}
<h2>Funding requests</h2>
{{ fund_amount | safe }}

{{ bokeh_script | safe }}
{% endblock %}
